<script type="text/html" data-app-templates="menu">
    <div class="divider"></div>

    <h3>Administrator</h3>
    <a href="/api/editable" target="_blank"><li class="" title="View Editable Contents">View Editable Contents</li></a>
    <a href="files"><li class="" title="Files">View Files</li></a>
    <a href="tables"><li class="" title="Files">View Tables</li></a>
    <a href="settings/tables"><li class="" title="Files">Edit Tables</li></a>
    <a href="settings"><li class="" title="Settings">Settings</li></a>

    <div class="divider"></div>

    <h3>Tools</h3>
    <a href="#" data-overlay-content="/philleepedit/app/templates/editor.html"><li class="" title="Bulk Editor - Edit Multiple Table Rows">Bulk Editor</li></a>
    <a href="#" data-overlay-content="/philleepedit/app/templates/uploads.html"><li class="" title="Bulk Image Uploader - Upload Multiple Images">Bulk Image Uploader</li></a>
    <a href="#" data-overlay-content="/philleepedit/app/templates/cdn.html"><li class="" title="CDN Dashboard - Get CDN Asset Links">CDN Dashboard</li></a>
    <a href="#" data-overlay-content="/philleepedit/app/templates/contacts.html"><li class="" title="Contacts Manager - Manage Telephone Numbers, Emails and more for Application Users">Contacts Manager</li></a>
    <a href="#" data-overlay-content="/philleepedit/app/templates/csv.html"><li class="" title="CSV Uploader - Convert CSV to Table Rows">CSV Uploader</li></a>
    <a href="#" data-overlay-content="/philleepedit/app/templates/data.html"><li class="" title="review Table Data - View data as sent out by API">Preview Table Data</li></a>

    <div class="divider animated fadeIn"></div>

    <h3>Help</h3>
    <a href="#" data-overlay-content="/philleepedit/app/templates/guide.html"><li class="" title="How to Guide">How to Guide</li></a>
    <a href="mailto:webmaster@philleepedit.com?subject=Directus%20Help%20-%20{{domain}}" target="_blank"><li class="" title="Contact Webmaster">Contact Webmaster</li></a>
    
    <div class="divider animated fadeIn"></div>
    <a href="http://www.philleepflorence.com" target="_blank"><li class="" title="Philleep Florence"><small>PhilleepEdit v0.5.0</small></li></a>
</script>

<script type="text/template" data-app-templates="dropzone">
    <div class="grid-item" data-multi-file-upload-grid-item>
        <div class="dz-preview dz-file-preview" data-multi-file-upload-item>
            <input type="hidden" value="1" name="active" data-multi-file-upload-input>
            <input type="hidden" name="title" data-multi-file-upload-input>
            <input type="hidden" name="location" data-multi-file-upload-input>
            <input type="hidden" name="tags" data-multi-file-upload-input>
            <input type="hidden" name="caption" data-multi-file-upload-input>
            <div class="dz-details">
                <div class="dz-filename hidden"><span data-dz-name></span></div>
                <div class="dz-size hidden" data-dz-size></div>
                <img data-dz-thumbnail />
            </div>
            <span class="text-success" data-multi-file-uploaded><i class="material-icons">check</i></span>
            <span class="text-white dz-buttons-menu"><i class="material-icons">more_vert</i></span>
            <div class="dz-buttons grid-flex">
                <div class="dz-success-mark grid-item bg-info bg-gray-hover" data-multi-file-upload-edit><i class="material-icons">list</i></div>
                <div class="dz-remove-mark grid-item bg-warning bg-gray-hover" data-dz-remove><i class="material-icons">not_interested</i></div>
            </div>
            <div class="dz-error-message"><span data-dz-errormessage></span></div>
        </div>
    </div>
</script>

<script type="text/template" data-app-templates="csv-tables-fields">
	{{#each this}}
	<h3 data-csv-table="{{schema.table_name}}" data-table-anchor>
		<span>{{schema.display_name}}</span>
		{{#each schema.columns}}
        <span class="hidden" data-type="{{type}}" data-required="{{required}}" data-column="{{name}}" data-primary-key="{{key}}">{{name}}</span>
        {{/each}}
	</h3>
	{{/each}}
</script>

<script type="text/template" data-app-templates="editor-tables-fields">
	{{#each tables}}
	<h3 data-editor-table="{{table}}" data-editor-fields="{{fields}}" data-editor-sort="{{sort}}" data-editor-limit="{{limit}}" data-editor-anchor>{{name}}</h3>
	</div>
	{{/each}}
</script>

<script type="text/template" data-app-templates="editor-tables-pagination">
	{{#each this}}
	<option data-editor-table="{{table}}" data-editor-fields="{{fields}}" data-editor-sort="{{sort}}" data-editor-limit="{{limit}}" data-editor-offset="{{offset}}" {{selected}}>Page {{page}}</option>
	{{/each}}
</script>

<script type="text/template" data-app-templates="previews-tables-fields">
	{{#each this}}
	<h3 data-previews-table="{{schema.table_name}}" data-previews-url="{{schema.url}}" data-previews-anchor>{{schema.display_name}}</h3>
	{{/each}}
</script>

<script type="text/template" data-app-templates="editor-tables-form">	
	<table class="lines cozy clickable item-listing animated fadeIn">
		<thead>
			<tr>
				{{#each thead}}
				<th scope="col" class="editor-column" data-editor-column="{{id}}" data-editor-key="{{key}}" data-editor-ui="{{column_ui}}" data-editor-type="{{column_type}}">{{display_name}}</th>
				{{/each}}
				{{#if viewmore}}
				<th data-editor-options></th>
				{{/if}}
				<th data-editor-options>
					<i class="material-icons">more_horiz</i>
					<div data-editor-columns data-editor-option>
						{{#each thead}}
						<div class="checkbox" data-editor-table-column="{{id}}">
							<input id="filter-{{id}}-checkbox" type="checkbox" class="custom-checkbox" data-editor-table-column="{{id}}" checked>
							<label for="filter-{{id}}-checkbox"><span></span>{{display_name}}</label>
						</div>
						{{/each}}
					</div>
				</th>
			</tr>
		</thead>
		<tbody>
			{{#each tbody}}
			<tr class="js-row" data-editor-row="{{id.value}}">
				{{#each this}}
				<td class="editor-column" data-editor-column="{{id}}" data-editor-key="{{key}}" data-editor-ui="{{column_ui}}" data-editor-type="{{column_type}}">
					{{#if checkbox}}
					<input id="{{id}}-{{@index}}-checkbox" type="checkbox" class="custom-checkbox" data-value="{{value}}" value="1" maxlength="1" data-editor-input {{checked}}>
					<label for="{{id}}-{{@index}}-checkbox"><span></span></label>
					{{else}}
						{{#if readonly}}
						<input type="text" class="editor-input" value="{{value}}" placeholder="-" readonly>
						{{else}}
						<input type="text" class="editor-input" value="{{value}}" maxlength="{{maxlength}}" placeholder="{{options.attributes.placeholder}}" data-validate="{{options.attributes.validation_string}}" data-validate-message="{{options.attributes.validation_message}}" data-editor-input>
						{{/if}}
					{{/if}}
				</td>
				{{/each}}
				{{#if ../viewmore}}
				<td data-editor-options><a href="/tables/{{../table}}/{{id.value}}"><i class="material-icons">settings</i></a></td>
				{{/if}}
				<th data-editor-options></th>
			</tr>
			{{/each}}
		</tbody>
	</table>
</script>

<script type="text/template" data-app-templates="cdn-image-sizes">
    <div class="grid-flex card-items animated fadeIn">
        {{#each this}}
        <div class="grid-item grid-item-full card-item">
            <div class="card">
                <span class="lead">{{size}}</span><br>
                <span><strong>Maximum Image Width: </strong>{{width}} pixels</span><br>
                <span><strong>Maximum Image Height: </strong>{{height}} pixels</span><br>
                <span><strong>Devices: </strong>{{device}}</span><br>
            </div>
        </div>
        {{/each}}
    </div>
</script>

<script type="text/template" data-app-templates="cdn-app-media">
    <div class="grid-flex card-items animated fadeIn">
        {{#each this}}
        <div class="grid-item grid-item-full card-item cdn-preview transition" data-cdn-media-object="app" data-cdn-media-id="{{@index}}">
            <div class="cdn-image grid-item-container relative">
	            <div class="table">
                    <div class="table-cell" data-file-type="{{extension}}">
                        {{#if image}}
		                <img src="{{url}}" alt="">
		                {{else}}                
		                <i class="material-icons cdn-file">insert_drive_file</i>
		                <i class="material-icons cdn-file cdn-pdf">picture_as_pdf</i>
		                {{/if}}
                    </div>
                </div>                
            </div>
        </div>
        {{/each}}
    </div>
</script>

<script type="text/template" data-app-templates="cdn-uploads-media">
    <div class="grid-flex animated fadeIn">
        {{#each this}}
        <div class="grid-item grid-item-cdn-preview transition" data-cdn-media-object="uploads" data-cdn-media-id="{{@index}}">
            <div class="cdn-image grid-item-container">
                {{#if image}}
                <span class="bgcontain absolute-100" style="background-image: url({{url}})"></span>
                {{else}}                
                <div class="table">
                    <div class="table-cell" data-file-type="{{extension}}">
                        <i class="material-icons cdn-file">insert_drive_file</i>
                        <i class="material-icons cdn-file cdn-pdf">picture_as_pdf</i>
                    </div>
                </div>
                {{/if}}
            </div>
        </div>
        {{/each}}
    </div>
</script>

<script type="text/template" data-app-templates="cdn-media-details">
    <div class="grid-item grid-item-cdn-preview grid-item-width animated fadeIn" data-cdn-media-details>
        <div class="card">
            <h3>Original &mdash; {{extension}}</h3>
            <table>
                <tbody>
                    <tr>
                        <td>
                            <input type="text" value="{{original}}" readonly>
                        </td>
                        <td class="button-parent">
                            <a href="{{original}}" class="button" target="_blank"><i class="material-icons">open_in_new</i></a>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="divider"></div>
            {{#if sizes}}
            {{#each sizes}}
            <h3>{{folder}}</h3>
            <table>
                <tbody>
                    <tr>
                        <td>
                            <input type="text" value="{{url}}" readonly>
                        </td>
                        <td class="button-parent">
                            <a href="{{url}}" class="button" target="_blank"><i class="material-icons">open_in_new</i></a>
                        </td>
                    </tr>
                </tbody>
            </table>
            {{/each}}
            <div class="divider"></div>
            {{/if}}
            <button class="button width" data-cdn-media-details-close>Close Details</button>
        </div>
    </div>
</script>

<script data-app-data>
    app.data = {
	    "contacts": {
			"tables": [
				{
					"name": "Genealogy",
					"fields": ["id","name","telephone","email","location","status"],
					"table": "contents_genealogies",
					"sort": "name",
					"limit": 100
				},
				{
					"name": "Subscribers",
					"fields": ["id","first_name","last_name","telephone","email","location","status"],
					"table": "app_users",
					"sort": "first_name",
					"limit": 100
				}
			]
		},
	    "editor": {
			"tables": [
				{
					"name": "Albums",
					"fields": ["id","status","title","description"],
					"table": "app_albums",
					"sort": "id",
					"limit": 100
				},
				{
					"name": "Configuration",
					"fields": ["id","section","description","value","key","params","public"],
					"table": "app_configuration",
					"sort": "section",
					"limit": 100
				},
				{
					"name": "Dropdowns",
					"fields": ["id","status","name","value","text"],
					"table": "app_dropdowns",
					"sort": "name",
					"limit": 100
				},
				{
					"name": "Icons",
					"fields": ["id","name","path","class","color"],
					"table": "app_icons",
					"sort": "name",
					"limit": 100
				},
				{
					"name": "Labels",
					"fields": ["id","name","section","show_html","source","url"],
					"table": "app_labels",
					"sort": "name",
					"limit": 100
				},
				{
					"name": "Navigation",
					"fields": ["id","name","path","description","public","internal","header","navigation","footer","private","authentication","header_tablet","header_mobile"],
					"table": "app_navigation",
					"sort": "name",
					"limit": 100
				},
				{
					"name": "Pages",
					"fields": ["id","name","path","title","description","headline"],
					"table": "app_pages",
					"sort": "name",
					"limit": 100
				},
				{
					"name": "Previews",
					"fields": ["id","status","description","title"],
					"table": "app_previews",
					"sort": "id",
					"limit": 100
				}
			]
		},
	    "descriptions": {
		    "pathname": ['/settings/tables', '/tables'],
		    "pages": "Contents and data for the :page page.",
		    "tables": {
			    "app_albums": "Collection of images grouped by a common name or theme. Can be included on one or more pages or sections.",
			    "app_analytics": "Settings, contents, and options for Google Analytics and Events Tracking.",
			    "app_comments": "Manage comments left on posts, pages, or any content.",
			    "app_configuration": "Settings and options for the entire application or website.",
			    "app_dropdowns": "Collection of all the data for dropdowns used within the applications.",
			    "app_forms": "Collection of all form submissions from applications and sites. Messages can be grouped by subjects or form names.",
			    "app_gallery": "Gallery or content images and slide shows. Can be included on one or more pages or sections.",
			    "app_icons": "Settings and options for font icons used throughout the application.",
			    "app_labels": "Form labels and messages, headlines, headers, and global messages. For page contents, see the appropriate application contents module.",
			    "app_navigation": "Settings, options, and metadata of all static and dynamic pages. The Site Map is created from here along with the <em>App Navigation</em>.",
			    "app_neighborhoods": "Collection of Neighborhoods within the United States and select Countries available to the application.",
			    "app_pages": "Settings, options, and metadata of all static and dynamic pages. The Site Map is created from here along with the <em>App Navigation</em>",
			    "app_previews": "Page previews or cards usually consisting of images with title, descriptions, and links to <em>Pages</em> within the application.",
			    "app_services": "All the services that the organization provides. Typically shown in the About section, but can also be shown on other sections.",
			    "app_tags": "Categories and tags of the application. For use with Posts, Events, and more.",
			    "app_team": "The team members of the organization or company. Generally displayed in a team page or about us.",
			    "app_templates": "Templates used throughout the application, such as Email or Error Templates.",
			    "app_users": "Collection of public application users or subscribers. These typically are not the same as the administrative users that can log in to the CMS or API.",
			    "app_users_metadata": "Metadata and preferences for public application users or subscribers.",
			    "contents_articles": "Articles of Incorporation, tenets, beliefs, or any short article that is not a page post. ",
			    "contents_events": "Any gathering, performance, occasion or celebration. Events can be recurring or can occur once.",
			    "contents_developments": "Collection of New Development Sale &amp; Rental Properties. Listings in New Developments should be added via a 3rd Party Listings Service or API.",
			    "contents_genealogies": "Collection of people that belong to a family tree.",
			    "contents_genealogies_metadata": "Collection of metadata and additional information for people that belong to a family tree.",
			    "contents_listings": "Collection of past listings or transactions organized by agents. Agent information must match that of the 3rd Party Listings Service or API.",
			    "contents_magazines": "Collection of Magazines for New Development Properties. Listings linked to New Developments should be added via a 3rd Party Listings Service or API.",
			    "contents_magazines_tags": "Tags and categories for New Development Magazines.",
			    "contents_neighborhoods": "Collection of Curated Neighborhoods and Listings within the neighborhoods.",
			    "contents_posts": "Any information about current events, a blog post, a generic page or an announcement.",
			    "contents_posts_categories": "Primary tags of current events, a blog post, a generic page or an announcement.",
			    "contents_posts_tags": "Secondary tags of current events, a blog post, a generic page or an announcement.",
			    "contents_posts_users": "Authors or contributors of current events, a blog post, a generic page or an announcement."
		    }
	    },
        "pages": [
            {
                "pathname": "/tables/app_albums",
                "description": "Collection of images grouped by a common name or theme. Can be included on one or more pages or sections."
            },
            {
                "pathname": "/tables/app_analytics",
                "description": "Settings, contents, and options for Google Analytics and Events Tracking."
            },
            {
                "pathname": "/tables/app_comments",
                "description": "Manage comments left on posts, pages, or any content comments. Comments are usually not displayed to the public until approved by an Administrator or Editor."
            },
            {
                "pathname": "/tables/app_configuration",
                "description": "Settings and options for the entire application or website."
            },
            {
                "pathname": "/tables/app_dropdowns",
                "description": "Collection of all the data for dropdowns used within the applications. All fields are usually required, but you can duplicate the values for the texts."
            },
            {
                "pathname": "/tables/app_forms",
                "description": "Collection of all form submissions from applications and sites. Messages can be grouped by subjects or form names."
            },
            {
                "pathname": "/tables/app_gallery",
                "description": "Gallery or content images and slide shows. Can be included on one or more pages or sections."
            },
            {
                "pathname": "/tables/app_icons",
                "description": "Settings and options for font icons used throughout the application."
            },
            {
                "pathname": "/tables/app_labels",
                "description": "Form labels and messages, headlines, headers, and global messages. For page contents, see the appropriate application contents module."
            },
            {
                "pathname": "/tables/app_navigation",
                "description": "Settings, options, and contents of application navigation elements (links). The Site Map is created from here along with the <em>App Pages</em>."
            },
            {
                "pathname": "/tables/app_neighborhoods",
                "description": "Collection of Neighborhoods, Cities, States or Regions within the United States and select Countries available to the application."
            },
            {
                "pathname": "/tables/app_pages",
                "description": "Settings, options, and metadata of all static and dynamic pages. The Site Map is created from here along with the <em>App Navigation</em>."
            },
            {
                "pathname": "/tables/app_previews",
                "description": "Page previews or cards usually consisting of images with title, descriptions, and links to <em>Pages</em> within the application. Previews can be different from the information in App Pages, as they usually include call to actions."
            },
            {
                "pathname": "/tables/app_services",
                "description": "All the services that the organization provides. Typically shown in the About section, but can also be shown on other sections."
            },
            {
                "pathname": "/tables/app_tags",
                "description": "Categories and tags of the application. For use with Posts, Events, and more."
            },
            {
                "pathname": "/tables/app_team",
                "description": "The team members of the organization or company. Generally displayed in a team page or about us."
            },
            {
                "pathname": "/tables/app_templates",
                "description": "Templates used throughout the application, such as Email or Error Templates. To use dynamic data, simply do <em>{path.to.data}</em>, for example <em>{form.email}</em> will get the email from the form submitted. Consult with your webmaster on the data available to the template."
            },
            {
                "pathname": "/tables/app_users",
                "description": "Collection of public application users or subscribers. These typically are not the same as the administrative users that can log in to the CMS or API."
            },
            {
                "pathname": "/tables/app_users_metadata",
                "description": "Metadata and preferences for public application users or subscribers."
            },

            {
                "pathname": "/tables/contents_articles",
                "description": "Articles of Incorporation, tenets, beliefs, or any short article that is not a page post. For Post Articles, use <em>Contents Posts</em> and select <em>Articles</em> as the Post Type."
            },
            {
                "pathname": "/tables/contents_developments",
                "description": "Collection of New Development Sale &amp; Rental Properties. Listings in New Developments should be added via a 3rd Party Listings Service or API."
            },
            {
                "pathname": "/tables/contents_events",
                "description": "Any gathering, performance, occasion or celebration. Events can be recurring or can occur once. For news, use <em>Contents Posts</em> and select <em>News</em> as the Post Type."
            },
            {
                "pathname": "/tables/contents_genealogies",
                "description": "Collection of people that belong to a family tree."
            },
            {
                "pathname": "/tables/contents_genealogies_metadata",
                "description": "Collection of metadata and additional information for people that belong to a family tree."
            },
            {
                "pathname": "/tables/contents_listings",
                "description": "Collection of past listings or transactions organized by agents. Agent information must match that of the 3rd Party Listings Service or API. For current listings, see 3rd Party Listings API."
            },
            {
                "pathname": "/tables/contents_magazines",
                "description": "Collection of Magazines for New Development Properties. Listings linked to New Developments should be added via a 3rd Party Listings Service or API."
            },
            {
                "pathname": "/tables/contents_neighborhoods",
                "description": "Collection of Curated Neighborhoods and Listings within the neighborhoods. These are separate from the Application Neighborhoods, which are not always displayed to the public."
            },
            {
                "pathname": "/tables/contents_posts",
                "description": "Any information about current events, a blog post, a generic page or an announcement. Unlike events, posts do not have to be at a location or occur at any specific time."
            }
        ]
    };
</script>
