<div class="app-overlay animated fadeIn">

    <aside class="app-overlay-navigation right-sidebar animated fadeInRight">
        <button class="button app-overlay-navigation-menu hidden animated fadeInRight"><i class="material-icons">settings</i></button>
        <section>
            <h3 class="active" data-overlay-section>Show All</h3>
            <div class="divider"></div>
            <h3 data-overlay-section="#sizes-cdn">CDN - Image Sizes</h3>
            <h3 data-overlay-section="#app-cdn">CDN - App Assets</h3>
            <h3 data-overlay-section="#uploads-cdn">CDN - Uploads</h3>
            <div class="divider"></div>
            <a href="mailto:webmaster@philleepedit.com?subject=Directus%20Help%20-%20{{domain}}" target="_blank"><h3>Have questions?</h3></a>
        </section>
        <footer class="animated fadeInUp grid-flex">
            <button class="bg-success grid-item" data-cdn-resize><i class="material-icons">photo_size_select_large</i><span>Resize</span></button>
            <button class="grid-item" data-overlay-close><i class="material-icons">close</i><span>Close</span></button>
        </footer>
    </aside>

    <section class="app-overlay-section">
        <p class="lead">
            As part of the customized version of Directus, <a href="http://www.philleepflorence.com/">PhilleepEdit Framework</a>
            includes a CDN: Content Delivery Network, which removes some of the load from your application server.
            <br>When delivering large scale websites and applications to a global audience, CDNs can reduce latency,
            accelerate site load times, reduce bandwidth consumption, secure applications, and even block data
            scrappers and other forms of spammers hitting your website or application server.
        </p>
        <p class="lead">
            Depending on your server set up, the CDN can be hosted on the same server as your website or
            application, a separate server within your server account, or externally, such as
            <br><a href="https://aws.amazon.com/cloudfront/" target="_blank">Amazon</a>,
            <a href="https://cloud.google.com/cdn/" target="_blank">Google</a>, or <a href="https://www.maxcdn.com/" target="_blank">MaxCDN</a>.
        </p>
    </section>

    <section id="sizes-cdn" class="app-overlay-section">
        <h1>CDN - Image Sizes</h1>
        <p class="lead">
            Depending on the size of the device and the size of the image you upload, the following sizes are created for bandwidth and browser optimization.
            <br>Depending on the set up of your application or site, different image sizes are created for each type of device width or height.
        </p>
        <p class="lead">
            To speed up image load types, use the Resize tool ( <i class="material-icons">photo_size_select_large</i> ) to create all the applicable sizes whenever you upload multiple images at the same time.
            <br>This feature is not automatic, due to the number of active users that may be hitting the site as well as editors actively making updates within the CMS.
        </p>
        <div app-template-cdn="cdn-image-sizes">
            <!-- Handlebars Rendering -->
        </div>
    </section>

    <section id="app-cdn" class="app-overlay-section">
        <h1>CDN - App Assets</h1>
        <p class="lead">
            Application Assets such as Logos, Icons and more, which are created before the installation of Directus.
            <br>App assets resizes are only created on demand due to the type of media asset, such as Logos, which cannot be cropped.
            <br>Click on each image for more information and URLs for each available size.
        </p>
        <div app-template-cdn="cdn-app-media">
            <!-- Handlebars Rendering -->
        </div>
    </section>

    <section id="uploads-cdn" class="app-overlay-section">
        <h1>CDN - Uploads</h1>
        <p class="lead">
            General uploads made through Directus. These files are available in the <a href="/files">File Library</a>.
            <br>Click on each image for more information and URLs for each available size.
        </p>
        <div app-template-cdn="cdn-uploads-media">
            <!-- Handlebars Rendering -->
        </div>
    </section>

    <script>app.cdn();</script>

</div>
