<div class="app-overlay animated fadeIn">

    <aside class="app-overlay-navigation right-sidebar animated fadeInRight">
        <button class="button app-overlay-navigation-menu hidden animated fadeInRight"><i class="material-icons">settings</i></button>
        <section>
            <h3 class="hint">Select Table</h3>
            <div class="divider"></div>
            <div app-template-cdn="csv-table-fields">
	            <h3>Loading Tables...</h3>
	        </div>
            <div class="divider"></div>
            <a href="mailto:webmaster@philleepedit.com?subject=Directus%20Help%20-%20{{domain}}" target="_blank"><h3>Have questions?</h3></a>
        </section>
        <footer class="animated fadeInUp grid-flex">
            <button class="bg-success grid-item" data-csv-upload-submit><i class="material-icons">check</i><span>Upload</span></button>
            <button class="bg-warning grid-item" data-csv-upload-reset><i class="material-icons">not_interested</i><span>Cancel</span></button>
            <button class="grid-item" data-overlay-close><i class="material-icons">close</i><span>Close</span></button>
        </footer>
    </aside>

    <section class="app-overlay-section">
        <p class="lead">
            Sometimes we understand the need to update several rows in a table 
            without having to update a single row at a time. While this is a useful 
            tool, be sure to only upload valid CSV files, as updates may be irreversible! 
            <br>Before you upload, check the tables and fields below to make sure your CSV 
            contains the same fields as the table you wish to update!
        </p>
        <p class="lead">
	        The first row of the CSV must contain the fields (as displayed in Table Fields after you select the table to edit) and nothing else!
            <br>Only one table can be edited at once. All required fields are indicated. 
            <br>Avoid including the <strong>id</strong> column in your CSV to prevent accidental updates of existing rows. 
            <br>Click on the table you wish to upload CSV to continue.
        </p> 
        <p class="lead">
            This tool does not allow for tables that have Images! 
            <br>You must upload images either using the <a href="/files">Directus Image Uploader</a> or the <a href="#" data-overlay-content="/philleepedit/app/templates/uploads.html">Bulk Upload Image Tool</a>
        </p>
    </section>

    <section id="csv-upload-form" class="app-overlay-section" data-csv-form-container>
        <h1>CSV Upload Form</h1>
        <p class="lead">
            Select the CSV you wish to upload and click the upload button ( <i class="material-icons">check</i> ). 
            <br>Duplicate entries may be ignored if the table does not allow duplicates, check to make sure you are uploading new values in the CSV.
            <br>Double check the field types below against the preview to validate the preview fields and values.
        </p>               
	    <form method="post" enctype="multipart/form-data" action="/api/csv" data-csv-form>
		    <div class="fields">
			    
	            <div class="field">
	                <label class="label">
	                    <div class="interface">
	                        <div class="interface-field">
	                            <div class="large">
	                                <div class="label">Table</div>
	                                <input type="text" placeholder="Select Table from the list of available tables..." value="" name="table" maxlength="150" class="large" data-csv-table readonly required>
	                            </div>
	                        </div>
	                    </div>
	                </label>
	            </div>
	            
	            <div class="field">
	                <label class="label">
	                    <div class="interface">
	                        <div class="interface-field">
	                            <div class="large">
	                                <div class="label">Table Fields</div>
	                                <textarea name="preview" rows="3" placeholder="Select Table from the list of available tables to get fields..." class="text" data-csv-columns readonly></textarea>
	                            </div>
	                        </div>
	                    </div>
	                </label>
	            </div>
	            
	            <div class="field">
	                <label class="label">
	                    <div class="interface">
	                        <div class="interface-field">
	                            <div class="large">
	                                <div class="label">CSV File</div>
	                                <input type="file" name="csv" accept="text/csv, .csv, .CSV" data-csv-file>
	                                <input type="text" placeholder="Click to select CSV file (.csv files only please)..." class="large pointer" readonly data-csv-file-trigger>
	                            </div>
	                        </div>
	                    </div>
	                </label>
	            </div>
	            
	            <div class="field">
	                <label class="label">
	                    <div class="interface">
	                        <div class="interface-field">
	                            <div class="large">
	                                <div class="label">CSV Preview</div>
	                                <textarea name="preview" rows="10" placeholder="Select CSV file and preview before submitting - confirm fields and values are valid..." data-csv-preview readonly></textarea>
	                            </div>
	                        </div>
	                    </div>
	                </label>
	            </div>
            
	        </div>
	    </form>
        
    </section>

    <section id="csv-fields-types" class="app-overlay-section on">
        <h1>Field Types</h1>
        <div class="spacer"><br></div>
        <ul>
	        <li>INTEGER, INT, SMALLINT, TINYINT, MEDIUMINT, BIGINT: Integer Types - Whole Numbers only, no decimals.</li>
	        <li>DECIMAL, NUMERIC, FLOAT, DOUBLE: Numbers only, decimals allowed.</li>
	        <li>CHAR, VARCHAR, ENUM, *TEXT, *BLOG: Texts and HTML, <strong>CHAR AND VARCHAR</strong> are usually single line plain texts.</li>
        </ul>
    </section>

    <script>app.csv();</script>

</div>
