<div class="app-overlay animated fadeIn">

    <aside class="app-overlay-navigation right-sidebar animated fadeInRight">
        <button class="button app-overlay-navigation-menu hidden animated fadeInRight"><i class="material-icons">settings</i></button>
        <section>
            <h3 class="hint">Select Table</h3>
            <div class="divider"></div>
            <div app-template-cdn="previews-tables-fields">
	            <h3>Loading Tables...</h3>
	        </div>
            <div class="divider"></div>
            <a href="mailto:webmaster@philleepedit.com?subject=Directus%20Help%20-%20{{domain}}" target="_blank"><h3>Have questions?</h3></a>
        </section>
        <footer class="animated fadeInUp grid-flex">
            <button class="grid-item" data-overlay-close><i class="material-icons">close</i><span>Close</span></button>
        </footer>
    </aside>
    
    <section class="app-overlay-section relative full" data-previews-json>
        <div class="no-items">Select table to begin...</div>
    </section>
    
    <script>app.previews();</script>
	
</div>