<div class="app-overlay animated fadeIn">

    <aside class="app-overlay-navigation right-sidebar animated fadeInRight">
        <button class="button app-overlay-navigation-menu hidden animated fadeInRight"><i class="material-icons">settings</i></button>
        <section>
            <h3 class="hint">Select Table</h3>
            <div class="divider"></div>
            <div app-template-cdn="editor-tables-fields">
	            <h3>Loading Tables...</h3>
	        </div>
            <div class="divider"></div>
            <a href="mailto:webmaster@philleepedit.com?subject=Directus%20Help%20-%20{{domain}}" target="_blank"><h3>Have questions?</h3></a>
        </section>
	    <div class="hidden animated fadeInUp" data-editor-search-container data-search-container>
			<div class="relative">
				<input type="text" placeholder="Filter rows... Press enter to filter!" class="editor-input" data-editor-search data-search-input>
				<i class="material-icons">search</i>
			</div>
			<div class="field">
				<div class="interface">
					<div class="interface-field">
						<div class="select-container">
							<select app-template-cdn="editor-tables-pagination">
								<option selected disabled>please wait... processing pages...</option>
							</select>
							<i class="material-icons select-arrow">arrow_drop_down</i>
						</div>
					</div>
				</div>
			</div>
		</div>
        <footer class="animated fadeInUp grid-flex">
            <button class="bg-success grid-item" data-editor-upload-submit><i class="material-icons">check</i><span>Upload</span></button>
            <button class="grid-item" data-overlay-close><i class="material-icons">close</i><span>Close</span></button>
        </footer>
    </aside>
    
    <section class="app-overlay-section relative full" data-editor-tables>
        <div class="no-items">Select table to manage...</div>
    </section>
    
    <script>app.editor('editor');</script>
	
</div>