<div class="app-overlay animated fadeIn">

    <aside class="app-overlay-navigation right-sidebar animated fadeInRight">
        <button class="button app-overlay-navigation-menu hidden animated fadeInRight"><i class="material-icons">settings</i></button>
        <nav>
            <h3 class="active" data-overlay-section>How To Guide</h3>
            <div class="divider"></div>
            <h3 data-overlay-section="#getting-started">Getting Started</h3>
            <h3 data-overlay-section="#faqs">Frequently Asked Questions</h3>
            <h3 data-overlay-section="#glossary">Glossary</h3>
            <h3 data-overlay-section="#application-modules-contents">Application Modules &amp; Contents</h3>
            <h3 data-overlay-section="#custom-contents-modules">Custom Contents &amp; Modules</h3>
            <div class="divider"></div>
            <h3 data-overlay-section="#custom-contents-editable">Viewing Editable Contents</h3>
            <h3 data-overlay-section="#custom-contents-editor">Making Bulk Edits</h3>
            <h3 data-overlay-section="#custom-contents-genealogies" data-overlay-table="contents_genealogies">Creating a Genealogy Entry</h3>
            <h3 data-overlay-section="#custom-contents-genealogies-stories" data-overlay-table="contents_genealogies">Creating a Story</h3>
            <h3 data-overlay-section="#custom-contents-genealogies-metadata" data-overlay-table="contents_genealogies_metadata">Creating a Tribute</h3>
            <h3 data-overlay-section="#custom-contents-wildlife" data-overlay-table="contents_wildlife">Creating a Wildlife Entry</h3>
            <div class="divider"></div>
            <a href="mailto:webmaster@philleepedit.com?subject=Directus%20Help%20-%20{{domain}}" target="_blank"><h3>Have questions?</h3></a>
        </nav>
        <footer class="animated fadeInUp grid-flex">
            <button class="grid-item" data-overlay-close><i class="material-icons">close</i><span>Close</span></button>
        </footer>
    </aside>

    <section class="app-overlay-section">
        <p class="lead">
            Directus is a free and open-source self-hosted platform published under the GNU (v3) license.
            It provides a simple and intuitive web interface for managing and organizing database content with completely custom architectures. 
            It also provides a robust API to access all your data in a safe and secure manner.
        </p>
        <p class="lead">
            You are using a customized version of Directus, part of the <a href="http://www.philleepflorence.com/">PhilleepEdit Framework</a>. 
            The custom tables in Directus have prefixes to help understand their purposes, for more information, see the <a href="#" data-overlay-section="#glossary">Glossary</a>.
        </p>
        <p class="lead">
            One of the benefits of using the open-source platform is that you can always get the latest and the greatest of Directus,
            and you also have the backing of a community of developers always striving to make Directus faster and better.
            Before you update Directus, be sure to contact your Webmaster to make sure the customized Modules are compatible with the new version you wish to install.
        </p>
        <p class="lead">
            Some modules such as <a href="/tables/app_configuration">App Configuration</a>, <a href="/tables/app_icons">App Icons</a>,
            <a href="/tables/app_labels">App Labels</a>, and <a href="/tables/app_templates">App Templates</a> come with
            previews, it is recommended you use this preview feature to understand how your website or application will use these modules.
            Previews also allow you to see how the contents of these modules will be displayed in your website or application.
        </p>
    </section>

    <section id="getting-started" class="app-overlay-section">
        <h1>Getting Started</h1>
        <p class="lead">
            Before you dive in and start making edits, get to know Directus!
            <br>Take a few minutes and read through the User Guide in the <a href="https://docs.getdirectus.com/6.4.0/#Login" target="_blank">Directus Docs</a>.
            <br>Below are some helpful tools and information. NOTE: Some of these are available only to Adminstrative Users.
        </p>
        <ol>
            <li>
                <h4>Customizing the View</h4>
                When you first sign in, or at any time, you may need to adjust the headers of the Application Modules and Application Contents.
                <br>For more information on Customizing the View, see: <a href="https://docs.getdirectus.com/6.4.0/#Customizing_the_View" target="_blank">https://docs.getdirectus.com</a>
                <br>To edit the display of the tables:
                <ol>
                    <li>
                        Click on the information <i class="material-icons center">info</i> icon at the top right of the page, next to the search input and add item <i class="material-icons center">add</i> icon.
                    </li>
                    <li>
                        In the view Settings Hide or show the columns as you wish.
                    </li>
                    <li>
                        To exit, click on the close <i class="material-icons close">close</i> icon.
                    </li>
                </ol>
            </li>
            <li>
                <h4>Viewing Item Details</h4>
                This page displays all the fields the current user has permission to view.
                <br>The Create, Edit, and Bulk Edit pages are all essentially the same, except for the content within the fields.
                <br>Fields may have a note/comment to further explain their purpose.
                <br>For more information on Viewing Item Details, see: <a href="https://docs.getdirectus.com/6.4.0/#Item_Detail" target="_blank">https://docs.getdirectus.com</a>
            </li>
            <li>
                <h4>Formatting International Phone Numbers</h4>
                <p>
	                PhilleepEdit strongly encourages <a href="https://en.wikipedia.org/wiki/E.164" target="_blank">E.164 phone number formatting</a> 
					for all phone numbers entered for system use. This is an internationally-recognized standard phone number format that will help to 
					ensure deliverability of calls and sms messages across the globe.
                </p>
                <p>
	                E.164 formatting for phone numbers entails the following:
	                <ol>
		                <li>A + (plus) sign</li>
		                <li>International Country Calling code</li>
		                <li>Local Area code</li>
		                <li>Local Phone number</li>
	                </ol>
                </p>
                <p>
	                For example, here's a US-based number in standard local formatting: <strong>(415) 555-2671</strong>.
					<br>Here's the same phone number in E.164 formatting: <strong>+14155552671</strong>.
                </p>
                <p>
	                In the UK, and many other countries internationally, local dialing may require the addition of a '0' in front of the subscriber number. 
					With E.164 formatting, this '0' must usually be removed.
					<br>For example, here's a UK-based number in standard local formatting: <strong>020 7183 8750</strong>.
					<br>Here's the same phone number in E.164 formatting: <strong>+442071838750</strong>
                </p>
                <p>
	                If you are unsure of the correct Country code, a good reference is this Wikipedia page that 
					<a href="https://en.wikipedia.org/wiki/List_of_country_calling_codes#Alphabetical_listing_by_country_or_region" target="_blank">lists countries and their calling codes.</a>
                </p>
            </li>
            <li>
                <h4>Naming Media Files and Documents</h4>
                When uploading files, to make it easy for the system to add a title to the file and also to locate files by search, use the following method: 
                To automatically title the uploaded file as <strong>'my new image'</strong>, you can name the file as 
                <strong>'my_new_image.jpg'</strong> or <strong>'my-new-image.jpg'</strong>, or <strong>'my new image.jpg'</strong> before uploading. 
                This will come in useful once the are hundreds or thousands of images, you will be able to search for images via titles.
            </li>
            <li>
                <h4>Uploading Media Files and Documents</h4>
                Depending on your privileges, the <a href="/files">File Library</a> page provides a listing of all files uploaded into the Directus platform 
                as well as any videos or embeds (eg: YouTube, Vimeo) that have been linked.
                <br>For more information on Uploading Media Files and Documents, see: 
                <a href="https://docs.getdirectus.com/6.4.0/#File_Library" target="_blank">https://docs.getdirectus.com</a>
            </li>
            <li>
                <h4>Uploading Bulk Media Files</h4>
                To upload more than one images at the same time, use the <a href="#" data-overlay-content="/philleepedit/app/templates/uploads.html">Bulk Upload Images Tool</a>.
                <br>For more information on Uploading Bulk Media Files, see the How To Guide within that tool.
            </li>
            <li>
                <h4>Groups and Permissions</h4>
                There is no limit to how many groups you can add within <a href="/settings/permissions">Group Permissions</a>.
                <br>Users can either be assigned to the Administrator Group (unrestricted access to all sections, tables and settings) or to any other custom group with specific permissions.
                <br>As a Administrator it is recommended you add all subsequent users to the Editor or any other group.
                <br>For more information on Groups and Permissions, see: <a href="https://docs.getdirectus.com/6.4.0/#Users,_Groups,_&_Permissions" target="_blank">https://docs.getdirectus.com</a>
            </li>
            <li>
                <h4>Viewing and Editing Users</h4>
                Depending on your privileges, the <a href="/users">User Directory</a> page provides a listing of all Directus users on the platform.
                <br>Clicking on a user's avatar or name anywhere within the platform will open a modal window with their public info (eg: name, email, and location).
                <br>For more information on Viewing and Editing Users, see: <a href="https://docs.getdirectus.com/6.4.0/#User_Directory" target="_blank">https://docs.getdirectus.com</a>
            </li>
            <li>
                <h4>Sending and Viewing Messages</h4>
                Depending on your privileges, the <a href="/messages">Messages</a> page is where you can send messages to individual users or entire groups and have the option to include attachments.
                <br>To improve accountability, each message includes a listing of users who have seen the post.
                <br>For more information on Viewing and Editing Users, see: <a href="https://docs.getdirectus.com/6.4.0/#Messages" target="_blank">https://docs.getdirectus.com</a>
            </li>
        </ol>
    </section>

    <section id="faqs" class="app-overlay-section">
        <h1>Frequently Asked Questions</h1>
        <p class="lead">
            Have a question not answered anywhere on this page? <br>Send an email to the Webmaster with your question. <br>Your question may end up here if it is a common question.
        </p>
        <ol>
            <li>
                <b>Where do I edit the meta data for pages?</b>
                <br>For page meta data (title, image or description), see: <a href="/tables/app_pages">App Pages</a>.
                <br>All pages must have an entry in App Pages, even though there are no dedicated tables for all the pages.
            </li>
            <li>
                <b>How do I upload more than one image at once?</b>
                <br>To upload two or more images at the same time, use the <a href="#" data-overlay-content="/philleepedit/app/templates/uploads.html">Bulk Upload Images</a> and follow the Guide.
            </li>
            <li>
                <b>Why can't I upload multiple images and videos at once?</b>
                <br>Images and videos are rendered differently, and depending on the configuration of your site, including videos and images in the same album could produce unwanted glitches or issues.
                <br>Most slideshow libraries are not capable of rendering images and videos in the same container.
            </li>
            <li>
                <b>Can I add other users to manage the CMS?</b>
                <br>If you are an administrator, yes! To add another user, see : <a href="https://docs.getdirectus.com/6.4.0/#User_Directory" target="_blank">https://docs.getdirectus.com</a>.
                <br>Be sure to use the correct privilege when adding a new user. For privileges, see: <a href="https://docs.getdirectus.com/6.4.0/#User_Directory" target="_blank">https://docs.getdirectus.com</a>.
            </li>
            <li>
                <b>I cannot find the page content I want to edit?</b>
                <br>Unless a page has large editable contents, such as large paragraphs, you may not see an editable module for that page.
                <br>For page metadata (title, image or description), see: <a href="/tables/app_pages">App Pages</a>.
                <br>For form data, headlines, buttons, links, and more, see: <a href="/tables/app_labels">App Labels</a>.
                <br>It is a lot easier to add a new label that to create multiple custom input fields for a single entry, such as a button or link.
            </li>
            <li>
                <b>Where do all the contact or subscription data from my website or application go?</b>
                <br>When a user submits any form from your website or application, they are saved in <a href="/tables/app_forms">App Forms</a>.
                <br>Depending on your website or application configuration, they may be sent to your CRM - Customer Relationship Management System, such as <a href="https://mailchimp.com/" target="_blank">MailChimp</a>.
            </li>
        </ol>
    </section>

    <section id="glossary" class="app-overlay-section">
        <h1>Glossary</h1>
        <p class="lead">
            Definitions of the different sections and tools.
        </p>
        <ol>
            <li>
                <b>Application Modules</b>
                <br>These are modules, which are generally available to multiple pages and sections of the application.
                <br>These navigation elements or titles always start with 'App ' or 'app_'.
            </li>
            <li>
                <b>Application Contents</b>
                <br>These are contents, which are generally available to multiple pages or sections of the application.
                <br>These navigation elements or titles always start with 'Contents ' or 'contents_'.
                <br>Contents are usually multiple rows, for single page or row, see Application Pages.
            </li>
            <li>
                <b>Application Pages</b>
                <br>These are contents, which are generally available to a single page or section of the application.
                <br>Pages are customized for each project or application, the more editable pages you have the more pages you would see here.
                <br>These navigation elements or titles always start with 'Pages ' or 'pages_'.
                <br>Pages are usually single items and apply to a single page, for multiple items, see Application Contents.
            </li>
            <li>
                <b>CDN Dashboard</b>
                <br>These is where you can view all the files available to your application.
                <br>You can get links to files that you can share with others.
                <br>You can view the different sizes of images, where applicable.
                <br>Unlike <a href="files">Files</a>, you can view media files not uploaded through the Directus.
            </li>
        </ol>
    </section>

    <section id="application-modules-contents" class="app-overlay-section">
        <h1>Application Modules &amp; Contents</h1>
        <p class="lead">
            Definitions of the different Application Modules &amp; Contents - these are usually part of the customized PhilleepEdit Framework.
        </p>
        <ol>
            <li>
                <b>Albums</b>
                <br>Collection of images or videos grouped by a common name or theme.
                <br>Can be included on one or more pages or sections.
                <br>Avoid including videos and images in the same album.
                <br>When adding videos, it is recommended to use established video platforms such as <a href="https://www.youtube.com/" target="_blank">YouTube</a> or <a href="https://vimeo.com/" target="_blank">Vimeo</a> to host the videos, unless your website or application is built with video streaming servers.
            </li>
            <li>
                <b>Analytics</b>
                <br>Settings, contents, and options for Google Analytics and Events Tracking.
            </li>
            <li>
                <b>Comments</b>
                <br>Manage comments left on posts, pages, or any content.
            </li>
            <li>
                <b>Configuration</b>
                <br>Settings and options for the entire application or website.
            </li>
            <li>
                <b>Dropdowns</b>
                <br>Collection of all the dropdowns used within the applications
                <br>All fields are usually required, but you can duplicate the values for the texts.
            </li>
            <li>
                <b>Forms</b>
                <br>Collection of all form submissions from applications and sites.
                <br>Messages can be grouped by subjects or form names.
                <br>By default, all form submissions are drafts until verified or until made active by an admin.
                <br>Ideally a welcome or confirmation email is sent to email from the form (user email) for verification.
            </li>
            <li>
                <b>Gallery</b>
                <br>Gallery images and slide shows.
                <br>Can be included on one or more pages or sections.
            </li>
            <li>
                <b>Icons</b>
                <br>Settings and options for font icons used throughout the application.
            </li>
            <li>
                <b>Labels</b>
                <br>Form buttons, labels and messages, headlines, headers, and global messages.
                <br>For large page contents, see the appropriate application pages module.
            </li>
            <li>
                <b>Navigation</b>
                <br>Settings, options, and contents of application navigation elements (links).
                <br>The Site Map is created from here along with the <a href="/tables/app_pages">App Pages</a>
            </li>
            <li>
                <b>Pages</b>
                <br>Settings, options, and meta data of all static and dynamic pages.
                <br>The Site Map is created from here along with the <a href="/tables/app_navigation">App Navigation</a>
            </li>
            <li>
                <b>Tags</b>
                <br>Categories and tags of the application.
                <br>For use with Posts, Events, News, and more.
            </li>
            <li>
                <b>Team</b>
                <br>The team members of the organization or company.
                <br>Generally displayed in a team page or about us.
            </li>
            <li>
                <b>Templates</b>
                <br>Templates are usually large labels and may contain HTML and dynamic variables.
                <br>Templates used throughout the application, such as Email Templates.
                <br>To use dynamic data, simply do <strong>{path.to.data}</strong>, for example <strong>{form.email}</strong> will get the email from the form submitted.
                <br>Consult with your webmaster on the data available to each template.
            </li>
            <li>
                <b>Articles</b>
                <br>Articles of Incorporation, tenets, beliefs, or any short article that is not a page post.
                <br>These do not belong to any specific page, too long to be tags and too short to be posts.
                <br>For Post Articles, use <strong>Contents Posts</strong> and select <strong>Articles</strong> as the Post Type.
            </li>
            <li>
                <b>Events</b>
                <br>Any gathering, performance, occasion or celebration.
                <br>Events can be recurring or can occur once.
                <br>For news, use <a href="/tables/contents_posts">Contents Posts</a> and select <strong>News</strong> as the Post Type.
            </li>
            <li>
                <b>Posts</b>
                <br>Any information about current events, a blog post, a generic page or an announcement.
                <br>Unlike events, posts do not have to be at a location or occur at any specific time.
            </li>
        </ol>
    </section>

    <section id="custom-contents-modules" class="app-overlay-section">
        <h1>Custom Contents &amp; Modules</h1>
        <p class="lead">
            Sometimes, you may wish to add contents not defined above, but are available within another module.
            <br>Below are some custom contents and modules that are available.
        </p>
        <ol>
            <li>
                <b>News - Custom Contents Posts</b>
                <br>News are a sub section of Posts that have a Post Type of News.
                <br>It is important that the Posts are tagged accurately in order to show up in the applicable pages or sections.
                <br>News can have a valid Unpublished Date, otherwise they will be displayed indefinitely.
            </li>
            <li>
                <b>Blog - Custom Contents Posts</b>
                <br>Blogs are a sub section of Posts that have a Post Type of Blog Post.
                <br>It is important that the Blogs are tagged accurately in order to show up in the applicable pages or sections.
                <br>Blogs can have a valid Unpublished Date, otherwise they will be displayed indefinitely.
            </li>
            <li>
                <b>Services - Custom Contents Events</b>
                <br>Services (Religious) are a sub section of Events that occur weekly.
                <br>Services can have a valid End Date, otherwise they will be displayed indefinitely.
            </li>
            <li>
                <b>Creating Custom Posts or Events</b>
                <br>To create custom Posts or Events, make sure to use the same Type or Categories (with a Tag Type of 'Post Category' or 'Event Category') for all the custom Posts or Events.
                <br>It is important that the Posts or Events are tagged accurately in order to show up in the applicable pages or sections.
            </li>
        </ol>
    </section>
    
    <section id="custom-contents-editable" class="app-overlay-section" data-overlay-table="app_dropdowns">
        <h1>Viewing Editable Contents</h1>
        <p class="lead">
            Where applicable, directus may power the contents of your application or site. 
            <br>To view which contents are editable, click on <strong>View Editable Contents</strong> and you will be taken to the application in a new window or browser tab. 
            <br>You can turn on or off the Editable Option in your application as you deem fit, some links will not work when in editable mode!
            <br>Every editable content will have an editable icon either over or under the content item. 
            <br>To edit the content, click on the item and you will be brought back to directus to make the update, be sure to save changes and close window or browser tab once done.
        </p>
    </section>

    <section id="custom-contents-genealogies" class="app-overlay-section" data-overlay-table="contents_genealogies">
        <h1>Creating or Updating a Genealogy Entry or Metadata</h1>
        <p class="lead">
            A Genealogy Entry is a member of a Family Tree. 
            Family Trees work top down, you must add the parent before adding the offspring(s).
            <br>By default, all profiles are private, you must select the public option for public stories.
        </p>
        <ol>
            <li>
                You must add a <a href="/tables/contents_genealogies">Genealogy Entry</a> before adding <a href="/tables/contents_genealogies_metadata">Genealogy Metadata or additional information</a>.
            </li>
            <li>
                Be sure to fill out all required fields including the parents of the family member.
            </li>
            <li>
                When updating the <strong>Bio</strong>, to add a map instance for a location, create a link to the Google Maps page of the location. The Title of the Google Map Instance will the text selected.
                <br>For example: <strong>&lt;a href="https://www.google.com/maps/place/Ekiugbo+-+Warri+Road,+Ughelli,+Nigeria">Ekuigbo, Ughelli, Nigeria&lt;/a></strong>
            </li>
            <li>
                While adding or updating the family member, you can also add additional information or metadata in the metadata field.
            </li>
            <li>
                Use the label dropdown to select the appropriate label. Labels include: School or Alma Mater, Education, Occupation or Profession, Company, Musical Instrument Played, Religion, Ordination, Publication, Website, Wedding, and Divorce.
                <br><strong>ONLY ENTER ONE VALUE FOR EACH ENTRY - FOR EXAMPLE FOR EVERY SCHOOL ATTENDED, CREATE A NEW GENEALOGY METADATA ROW.</strong>
                <br>To request more labels, please contact the webmaster or an administrator.
            </li>
            <li>
                For events that require partner(s), such as marriages or tributes, be sure to enter the Genealogy Partner.
            </li>
            <li>
                For stories, go to <a href="#" data-overlay-table="contents_genealogies">Creating a Story for a Genealogy Entry</a>
            </li>
        </ol>
    </section>
    
    <section id="custom-contents-genealogies-stories" class="app-overlay-section" data-overlay-table="contents_genealogies">
        <h1>Creating a Story for a Genealogy Entry</h1>
        <p class="lead">
            A story is a public profile of a Genealogy Entry.
        </p>
        <ol>
            <li>
                Fill out all pertinent information for the family member and turn on the <strong>Public</strong> option.
            </li>
            <li>
                All public profiles must have a <strong>Bio</strong>, <strong>Description</strong>, and <strong>Tagline</strong>.
            </li>
            <li>
                Once you have finished entering all the information available for the family member, go to <strong>Genealogy Metadata</strong> to add additional information.
            </li>
            <li>
                Enter as much information as you can including: School or Alma Mater, Education, Occupation or Profession, Company, Musical Instrument Played, Religion, Ordination, Publication, Website, Wedding.
                <br><strong>ONLY ENTER ONE VALUE FOR EACH ENTRY - FOR EXAMPLE FOR EVERY SCHOOL ATTENDED, CREATE A NEW GENEALOGY METADATA ROW.</strong>
                <br>To request more labels, please contact the webmaster or an administrator.
            </li>
        </ol>
    </section>
    
    <section id="custom-contents-genealogies-metadata" class="app-overlay-section" data-overlay-table="contents_genealogies_metadata">
        <h1>Creating a Tribute for a Genealogy Entry</h1>
        <p class="lead">
            A tribute is a statement that is intended to show gratitude, respect, or admiration for a Genealogy Entry.
        </p>
        <ol>
            <li>
                You must add or update a <a href="/tables/contents_genealogies">Genealogy Entry</a> before adding <a href="/tables/contents_genealogies_metadata">a Tribute</a>.
            </li>
            <li>
                Scroll down to metadata.
            </li>
            <li>
                Select <strong>Tribute</strong> from the Label Dropdown.
            </li>
            <li>
                Enter or paste the tribute in the <strong>Value</strong> field.
                <br><strong>DO NOT PASTE DIRECTLY FROM WORD DOCUMENTS!</strong>
                <br>For the Title of the Tribute you can use the <strong>H3</strong> option.
                <br>For the author, if not a family member, use the <strong>H6</strong> option.
            </li>
        </ol>
    </section>
    
    <section id="custom-contents-wildlife" class="app-overlay-section" data-overlay-table="contents_wildlife">
        <h1>Creating a Wildlife Entry</h1>
        <p class="lead">
            Wildlife By Canon<sup>&trade;</sup> is a compilation of advertisements currently running in National Geographic magazine.
            <br>Raising awareness of endangered species is just one of the ways Canon is taking action—for the good of the planet we call home.
        </p>
        <p class="lead">
            To create or update a Wildlife entry, go to <a href="http://global.canon/en/ad/wild/" target="_blank">http://global.canon/en/ad/wild/</a> 
            and download the applicable PDF and save the file locally using the following format <strong>wild{{YYYY}}{{MM}}.pdf</strong>.
        </p>
        <p class="lead">
            Using a PDF reader, extract the image from the PDF and save locally using the format <strong>{{YYYY}}-{{MM}}.jpg</strong> as a JPEG image.
        </p>
        <p class="lead">
            Copy all the respective texts from the PDF and fill out all the required fields including content. 
            <br>For content, copy all the text below the headline <strong>Wildlife as canon see it</strong> and the image. 
            You do not need to copy the last paragraph which pertains to Canon.
            <br>For the location, use the map in the PDF or <a>Wikipedia</a> to get the location. 
            You must enter a valid location that can be rendered using Google Maps, such as Country or Geographical region.
        </p>
        <p class="lead">
            After filling out al the required inputs, upload the image and be sure to add a title in the following format 
            <strong>{{title}} - {{year}}</strong> for better searching and organization. 
        </p>
    </section>
    
    <section id="custom-contents-editor" class="app-overlay-section">
        <h1>Making Bulk Edits</h1>
        <p class="lead">
            Sometimes there is the need to update several rows in a table 
            without having to update a single row at a time. 
            This feature somewhat is similar to editing Spreadsheets such as <a href="https://www.google.com/sheets/about/" target="_blank">Google spreadsheets</a>
        </p>
        <p class="lead">
            The <a href="#" data-overlay-content="/philleepedit/app/templates/contacts.html">Contacts Editor</a> and The <a href="#" data-overlay-content="/philleepedit/app/templates/editor.html">Bulk Editor</a> tools allow you to edit table row columns that contain numbers and plain texts only.
            <br>Only tables that have multiple rows and have been included by your webmaster are editable using this tool. 
            <br>Columns that require a dropdown or are linked to other tables may not be editable at this time. 
        </p>
        <p class="lead">
            The current default <a href="https://docs.getdirectus.com/6.4.0/#Item_Listing" target="_blank">Directus Rows UI</a> 
            allows you to make bulk updates such as making multiple rows active, 
            or making a field in multiple rows the same content. 
            For more information, see <a href="https://docs.getdirectus.com/6.4.0/#Bulk_Editing" target="_blank">Bulk Editing</a>
        </p>
        <p class="lead">
            To get started, go to <a href="#" data-overlay-content="/philleepedit/app/templates/contacts.html">Contacts Manager</a> 
            or <a href="#" data-overlay-content="/philleepedit/app/templates/editor.html">Bulk Editor</a>, 
            select the table you wish to edit, update all the applicable rows and columns, and then click the upload button ( <i class="material-icons">check</i> ) to push the updates. 
        </p>
        <p class="lead">
            After selecting the table you wish to update, you can remove columns from the view by clicking on the checkboxes displayed under ( <i class="material-icons">more_horiz</i> ) at the top right of the loaded rows. 
        </p>
    </section>

</div>
