<div class="app-overlay animated fadeIn">

    <aside class="app-overlay-navigation right-sidebar animated fadeInRight">
        <button class="button app-overlay-navigation-menu hidden animated fadeInRight"><i class="material-icons">settings</i></button>
        <section>
            <h3 class="active" data-overlay-section>Show All</h3>
            <div class="divider"></div>
            <h3 data-overlay-section="#upload-images">Upload Multiple Images</h3>
            <h3 data-overlay-section="#create-album">Create or Update Album</h3>
            <h3 data-overlay-section="#how-to-guide">How To Guide</h3>
            <div class="divider"></div>
            <a href="mailto:webmaster@philleepedit.com?subject=Directus%20Help%20-%20{{domain}}" target="_blank"><h3>Have questions?</h3></a>
        </section>
        <footer class="animated fadeInUp grid-flex">
            <button class="bg-success grid-item" data-multi-file-upload-submit><i class="material-icons">check</i><span>Upload</span></button>
            <button class="bg-warning grid-item" data-multi-file-upload-reset><i class="material-icons">not_interested</i><span>Cancel</span></button>
            <button class="grid-item" data-overlay-close><i class="material-icons">close</i><span>Close</span></button>
        </footer>
    </aside>

    <section id="upload-images" class="app-overlay-section">
        <h1>Upload Multiple Images</h1>
        <div data-multi-file-upload-container>
            <div class="absolute" data-multi-file-upload-form>
                <div class="table">
                    <div class="table-cell">
                        <section class="text-center">
                            <h3>Update Image Metadata and Information</h3>
                            <div class="divider sm"></div>
                        </section>
                        <div class="fields">
                            <div class="field">
                                <label class="label">
                                    <div class="interface">
                                        <div class="interface-field">
                                            <div class="large">
                                                <input type="text" placeholder="Title of Image - 150 Characters or less" value="" name="title" maxlength="150" class="large" data-multi-file-upload-input>
                                            </div>
                                        </div>
                                    </div>
                                </label>
                            </div>
                            <div class="field">
                                <label class="label">
                                    <div class="interface">
                                        <div class="interface-field">
                                            <div class="large">
                                                <input type="text" placeholder="Location of where the image was taken - 150 Characters or less" value="" name="location" maxlength="150" class="large" data-multi-file-upload-input>
                                            </div>
                                        </div>
                                    </div>
                                </label>
                            </div>
                            <div class="field">
                                <label class="label">
                                    <div class="interface">
                                        <div class="interface-field">
                                            <div class="large">
                                                <input type="text" placeholder="Comma Separated Tags - 250 Characters or less" value="" name="tags" maxlength="250" class="large" data-multi-file-upload-input>
                                            </div>
                                        </div>
                                    </div>
                                </label>
                            </div>
                            <div class="field">
                                <label class="label">
                                    <div class="interface">
                                        <div class="interface-field">
                                            <div class="large">
                                                <input type="text" placeholder="Short Description - 250 Characters or less" value="" name="caption" maxlength="250" class="large" data-multi-file-upload-input>
                                            </div>
                                        </div>
                                    </div>
                                </label>
                            </div>
                        </div>
                        <div class="button-group">
                            <button class="button" data-multi-file-upload-form-cancel><i class="material-icons">not_interested</i>Cancel</button>
                            <button class="button" data-multi-file-upload-form-update><i class="material-icons">playlist_add_check</i>Update</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="dropzone grid-flex" data-multi-file-upload></div>
        </div>
    </section>

    <section id="create-album" class="app-overlay-section">
        <h1>Create Album</h1>
        <div class="spacer"><br></div>
        <div class="fields">
            <div class="field">
                <label class="label">
                    <div class="interface">
                        <div class="interface-field">
                            <div class="large">
                                <div class="label">Album Title</div>
                                <input type="text" placeholder="Album - 150 Characters or less" value="" name="title" maxlength="150" class="large" data-multi-file-album-input>
                            </div>
                        </div>
                    </div>
                </label>
            </div>
            <div class="field">
                <label class="label">
                    <div class="interface">
                        <div class="interface-field">
                            <div class="large">
                                <div class="label">Album Description</div>
                                <textarea name="description" rows="10" data-multi-file-album-input></textarea>
                            </div>
                        </div>
                    </div>
                </label>
            </div>
        </div>
    </section>

    <section id="how-to-guide" class="app-overlay-section">
        <h1>How To Guide</h1>
        <div class="spacer"><br></div>
        <ul>
            <li>
                To create a new album, enter name of Album before uploading (album names should be unique to each album).
            </li>
            <li>
                Click on the <i class="material-icons">list</i> icon to add Title, Location, Tags, or Description to image.
            </li>
            <li>
                Click on the <i class="material-icons">not_interested</i> icon to remove image from the queue.
            </li>
            <li>
                Images allowed: JPG, JPEG, GIF, and PNG.
            </li>
            <li>
                Maximum image size upload allowed: 5MB.
            </li>
            <li>
                Do not close the browser until all images been uploaded.
            </li>
        </ul>
    </section>

    <script>app.uploads();</script>

</div>
