/* Main - Overrides */

/*
	TODO - Import Nunito Font from Google for Offline Development
*/

@import url('animate.css');

body .hidden {
    display: none !important;
}

body .main-container,
body .settings-modules {
	animation: fadeIn 1s ease-in-out;
}

body .marketplace {
	animation: fadeInUp 1s ease-in-out;
}	

body .noty_box .noty_message .noty_text {
	overflow: hidden;
	text-overflow: ellipsis;
}

body .noty_box .noty_message:active, 
body .noty_box .noty_message:hover {
	background: rgba(0, 0, 0, 0.7) !important;
}

body .header .logo .directus {
    top: 15px;
    left: 20px;
    width: calc(100% - 40px);
    height: calc(100% - 30px);
    background-image: url(/storage/app/media/logo.png);
    background-position: center;
    background-size: contain;
    animation: fadeIn 1s;
    margin: 0;
}

body .button, body .header .actions .action.primary {
    background-color: #4c4c4c;
    border-radius: 0 !important;
}

body table.lines tbody tr[data-id^="app_"],
body table.lines tbody tr[data-id^="contents_"],
body table.lines tbody tr[data-id^="directus_"],
body table.lines tbody tr[data-id^="pages_"] {
	border-left: #28A745 5px solid;
	box-sizing: border-box;
	position: relative;
}

body table.lines tbody tr[data-id^="contents_"] {
	border-left-color: #FF9800;
}

body table.lines tbody tr[data-id^="directus_"] {
	border-left-color: #AAAAAA;
}

body table.lines tbody tr[data-id^="pages_"] {
	border-left-color: #3498DB;
}

body table.lines tbody tr td [data-table-description] {
	display: none;
	position: absolute;
	width: 100%;
	left: 0;
	margin-top: 11px;
	padding: 14px 20px;
	background: #222;
	color: white;
	border-bottom: #000 1px solid;
	border-top: #000 1px solid;
	pointer-events: none;
	white-space: nowrap;
	text-overflow: ellipsis;
}

body table.lines tbody tr:hover td [data-table-description] {
	display: block;
	animation: fadeIn 600ms;
}

body .right-sidebar .scroll-y .metadata .created-modified .directus-user[data-user-id=""] {
	display: none;
}

body .sidebar ul.menu a small {
	letter-spacing: 0.25px;
	color: #ADADAD;
	font-weight: 600;
}

body .button:hover {
    background-color: #3c3c3c;
}

body * {
    border-radius: 0 !important;
    transition: all 500ms cubic-bezier(0.25, 0.25, 0, 0.985) 10ms !important;
    transition-property: opacity, color, background-color, border-color, filter;
}

body .transform {
    transition-duration: 800ms !important;
}

body .transition {
    transition-property: all !important;
}

body img {
    animation: fadeIn 1s ease-in-out;
}

body .fields .field .interface .char-count {
    line-height: 40px;
}

body .fields .field .interface .interface-field,
body .fields .field .label .comment,
body .fields .field .interface .selected-item,
body .fields .field .interface .twitter-typeahead,
body .fields .field .interface .select-container,
body .fields .field .interface .select2-container,
body .fields .field .interface .select2-container, 
body .fields .field .interface .select2-selection--single,
body .fields .field .interface input,
body .fields .field .interface select,
body .fields .field .interface textarea,
body .fields .field .interface .medium-editor-element,
body .fields .field .interface div.mce-tinymce.mce-container.mce-panel {
    max-width: 960px !important;
}

body .fields .field.break-header h6 {
	max-width: 640px !important;
}

body .fields .field .interface .interface-field .status-group {
	width: 100% !important;
}

body .fields .field .interface .interface-field .status-group label {
	min-width: 50% !important;
	margin-right: 0 !important;
}

body .fields .field .interface .interface-field .dropzone {
	width: 100%;	
}

body .fields .field .interface .select-container,
body .fields .field .interface .twitter-typeahead {
    display: block !important;
}

body .fields .field .interface .selected-item span {
	display: inline-block;
	width: 100%;
	text-overflow: ellipsis;
    overflow: hidden;
    line-height: 30px !important;
    padding-right: 50px;
}

body .fields .field .interface .interface-field {
	position: relative;
}

body .fields .field .interface input[type="date"],
body .fields .field .interface input[type="time"] {
	display: block;
	width: 100%;
	padding-right: 60px;
}

body .fields .field .interface input[type="date"] + input[type="time"] {
	margin-top: 10px;
	padding-right: 0;
}

body .fields .field .interface .interface-field a.text-button {
    display: block;
    line-height: 40px !important;
    margin-top: 0 !important;
    vertical-align: top !important;
    right: 15px;
    top: 0;
    position: absolute;
}

body .fields .field .interface .interface-field a.text-button:hover, 
body .fields .field .interface .interface-field a.text-button:hover {
	color: inherit !important;
	background: transparent !important;
}

body .fields .field .interface .selected-item {
	margin-top: 0;
	position: relative;	
}

body .fields .field .interface .button-group .button,
body .fields .field .interface .swap-container button {
	display: block;
	width: 100%;
	margin: 10px 0 0 0;
}

body .fields .field .interface .interface-field .attachments {
	background-color: #4c4c4c;
	text-align: center;
	padding: 5px 0;
}

body .fields .field .interface .interface-field .attachments:empty:after {
	content: "Click the icon above to select files";
	color: white;
	display: block;
	text-align: center;
	font-size: 24px;
	font-weight: 300;
	padding: 20px;
}

body .fields .field .interface .interface-field .attachments .file,
body .fields .field .interface .interface-field .attachments .dropzone {
	margin: 5px;
	height: 250px;
	overflow: hidden;
}

body .fields .field .interface .interface-field .attachments .dropzone {
	background: rgba(255, 255, 255, 0.4);
	box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
}

body .fields .field .interface .selected-item i {
    display: block;
    line-height: 46px !important;
    margin-top: 0 !important;
    vertical-align: top !important;
    right: 10px;
    top: 0;
    position: absolute;
}

body .fields .field .interface .twitter-typeahead .tt-dropdown-menu {
	background: white;
	cursor: pointer;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
	width: 100%;
}

body .fields .field .interface .twitter-typeahead .tt-dropdown-menu div {
	padding: 0 10px;
}

body .thumbnail.js-image {
    overflow: hidden;
    position: relative;
    background-color: #4c4c4c;
}

body .thumbnail.js-image img {
    background-color: #4c4c4c;
}

.attachments .folder img, .attachments .file img, .folder-listing .folder img, .folder-listing .file img, .file-listing .folder img, .file-listing .file img {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transform-style: preserve-3d;
}

body div.attachments img[src="/assets/img/document.png"] {
    width: 100px;
    height: 120px;
}

body .medium-editor-element {
    padding: 15px;
}

body #table {
    right: 0 !important;
}

body table.item-listing td {
    max-width: 200px !important;
    text-overflow: ellipsis;
    overflow: hidden;
}

body .user-listing .user .info .position {
	padding-top: 5px;
	text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

body .comment .comment-instructions {
    border-top: #EAEAEA 1px solid;
    padding: 5px;
    text-align: right;
}

body #mainSidebar .scroll-y {
    opacity: 0 !important;
}

body #mainSidebar .scroll-y.active {
    opacity: 1 !important;
}

body #mainSidebar .divider {
    border-top: #DADADA 1px solid;
    margin: 15px 0;
}

body #mainSidebar h3 {
    padding-left: 25px;
}

body #mainSidebar hr {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

body #mainSidebar hr + h3,
body #mainSidebar .divider + h3 {
    padding-top: 0;
}

body #page-content #table table.fixed-header {
    margin-bottom: 60px;
}

body #page-content footer.description {
	display: table;
    position: absolute;
    width: 100%;
    bottom: 0;
    background-color: #333;
	height: 60px;
	z-index: 999;
    cursor: pointer;
}

body #page-content footer.description:hover {
	background-color: #3498DB;
}

body #page-content footer.description h3.description {
    padding: 5px 50px 5px 15px;
    line-height: 1.5em;
    height: 60px;
    width: 100;
    vertical-align: middle;
    display: table-cell;
    color: white;
    text-align: center;
}

body #page-content footer.description h3.description em {
	font-style: normal;
	color: #FF9800;
}

body #page-content footer.description h3.description .material-icons {
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -12px;
	margin-top: -12px;
	color: rgba(255, 255, 255, 0.1);
}

body #page-content footer.description:hover h3.description {
	color: white;
}

body #page-content footer.description:before {
	position: absolute;
	content: '';
	left: 0;
	top: 10px;
	width: 1px;
	height: 44px;
	background: linear-gradient(rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 15%, rgba(255, 255, 255, 0.3) 85%, rgba(255, 255, 255, 0) 100%) no-repeat 50% 75%; }
}

body table.lines tbody tr td [data-table-description] em, 
body #page-content footer.description h3.description em {
	font-style: normal;
	color: #E53935;
}

body .filter-dropdown .column-filter select {
    width: 100%;
    padding-right: 20px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

body .filter-dropdown .column-filter span.simple-select {
    display: block;
    position: relative;
}

body .filter-dropdown .column-filter span.simple-select .icon-triangle-down {
    position: absolute;
    top: 23px;
    right: 10px;
    color: #999999;
    background-color: transparent;
    pointer-events: none;
}

body .filter-dropdown .column-filter span.simple-select .icon-triangle-down:before {
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 5px 0 5px;
    border-color: #999999 transparent transparent transparent;
}

/* Overlay */

body .app-overlay {
    background-color: #f6f6f6;
    min-height: 100%;
    line-height: 1.8em;
}

body .app-overlay + * {
    display: none !important;
}

body .app-overlay {
    position: relative;
    width: inherit;
}

body .app-overlay pre {
	background: white;
	padding: 10px;
	animation: fadeIn 1s ease;
	margin: 0;
}

body .app-overlay pre .string { color: #28A745; }
body .app-overlay pre .number { color: #FF9800; }
body .app-overlay pre .boolean { color: #3498DB; }
body .app-overlay pre .null { color: gray; }
body .app-overlay pre .key { color: #E53935; }

body .app-overlay .relative {
    position: relative;
}

body .app-overlay .absolute-100 {
	position:absolute;
	top:0;
	left:0;
	bottom:0;
	right:0;
	overflow:hidden;
}

body .app-overlay .fixed {
	position: fixed !important;
}

body .app-overlay .bgcovercenter {
	background-repeat:no-repeat !important;
    background-size:cover !important;
    background-position:center !important;
}

body .app-overlay .bgcontain {
	background-repeat:no-repeat !important;
    background-size:contain !important;
    background-position:center !important;
}

body .app-overlay .width {
    width: 100%;
}

body .app-overlay section.app-overlay-section {
    padding: 20px;
    padding-right: 20px;
    padding-bottom: 30px;
    margin-right: 300px;
}

body .app-overlay section.app-overlay-section[data-editor-tables] {
	padding: 0;
}

body .app-overlay section.app-overlay-section[data-editor-tables].full {
	padding-right: 300px;
	box-sizing: content-box;
}

body .app-overlay [data-search-container] {
	position: relative;
	border-top: #DADADA 1px solid;
	border-bottom: #DADADA 1px solid;
	background-color: white;
	position:absolute;
	bottom: 60px;
	left: 0;
	width: 100%;
}

body .app-overlay [data-search-container] .relative {
	padding: 0 15px;
}

body .app-overlay [data-search-container] .interface,
body .app-overlay [data-search-container] .interface .select-container,
body .app-overlay [data-search-container] .interface .select-container select {
	width: 100%;	
}

body .app-overlay [data-search-container] .interface .select-container select {
	border: none !important;
	border-top: 1px solid #CCCC !important;
	padding: 0 30px 0 15px;
	height: 50px;
	font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    color: #999999;
    cursor: pointer;
}

body .app-overlay [data-search-container] .interface .select-container select:focus {
	box-shadow: none !important;
	color: inherit !important;
}

body .app-overlay [data-search-container] input {
	height: 50px !important;
	width: 100%;
}

body .app-overlay [data-search-container] input:focus {
	box-shadow: none !important;
}

body .app-overlay [data-search-container] .material-icons {
	position: absolute;
	right: 15px;
	top: 15px;
	color: #ADADAD;
	font-size: 20px;
	line-height: 20px;
}

body .app-overlay section.app-overlay-section[data-editor-tables] table {
    table-layout: fixed;
}

body .app-overlay section.app-overlay-section[data-editor-tables] table [data-editor-key="PRI"] {
    display: none !important;
}

body .app-overlay section.app-overlay-section[data-editor-tables] table tr th,
body .app-overlay section.app-overlay-section[data-editor-tables] table tr td {
    padding-left: 10px !important;
}

body .app-overlay section.app-overlay-section[data-editor-tables] table tr {
	border-left: rgba(0, 0, 0, 0) 4px solid;
	box-sizing: border-box;
}

body .app-overlay section.app-overlay-section[data-editor-tables] table tr.active {
	border-left-color: #28A745;
}

body .app-overlay section.app-overlay-section[data-editor-tables] table [data-editor-ui="numeric"] {
    width: 90px;
}

body .app-overlay section.app-overlay-section[data-editor-tables] table [data-editor-ui="status"] {
	width: 55px;
}

body .app-overlay section.app-overlay-section[data-editor-tables] table [data-editor-ui="toggle"] {
    width: 70px;
}

body .app-overlay section.app-overlay-section[data-editor-tables] table [data-editor-options] {
	width: 40px;
	text-align: right;
	vertical-align: middle;	
	cursor: pointer;
}

body .app-overlay section.app-overlay-section[data-editor-tables] table [data-editor-options] i {
	vertical-align: middle;
}

body .app-overlay section.app-overlay-section[data-editor-tables] table [data-editor-options]:active [data-editor-option],
body .app-overlay section.app-overlay-section[data-editor-tables] table [data-editor-options]:hover [data-editor-option] {
	display: block !important;
}

body .app-overlay section.app-overlay-section[data-editor-tables] table [data-editor-options] a {
	color: #808080;
}

body .app-overlay section.app-overlay-section[data-editor-tables] table [data-editor-options] a:active,
body .app-overlay section.app-overlay-section[data-editor-tables] table [data-editor-options] a:hover {
	color: #E53935;
}

body .app-overlay section.app-overlay-section[data-editor-tables] table [data-editor-options] a .material-icons {
	font-size: 16px;
}

body .app-overlay .app-overlay-navigation {
    width: 300px;
    right: 0;
}

body .app-overlay .app-overlay-navigation nav,
body .app-overlay .app-overlay-navigation section {
    padding: 20px;
}

body .app-overlay .app-overlay-navigation section {
    overflow: auto;
    position: absolute;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding-bottom: 150px;
}

body .app-overlay section .field {
    padding: 10px 0 !important;
    border: none;
}

body .app-overlay section .field + .button-group {
    padding-top: 40px;
}

body .app-overlay .fields .field .label,
body .app-overlay .fields .field .interface {
	width: 100%;
	padding-right: 0;
}

body .app-overlay .fields .field .label,
body .app-overlay .fields .field .interface,
body .app-overlay .interface .interface-field,
body .app-overlay .interface .interface-field .large {
	display: block;
}

body .app-overlay .interface .interface-field textarea, 
body .app-overlay .fields .field .interface input {
	min-width: 100%;
}

body .app-overlay .interface .interface-field textarea.text {
	line-height: 1.5em;	
}

body .app-overlay .interface .interface-field textarea {
	resize: none !important;
	overflow: hidden !important;	
}

body .app-overlay input[type="file"] {
	position: fixed;
	top: -1000px;
	left: -1000px;	
}

body .app-overlay .code, body .app-overlay .code * {
	font-family: monaco, "Lucida Console", "Courier New", courier, monospace;
	font-size:10px;
	white-space: pre-wrap;
	font-weight: 100;
	-webkit-font-smoothing: none;
	font-smoothing: none;
	line-height: 1.25em;
}

body .app-overlay .nowrap {
	white-space: nowrap;
}

body .app-overlay pre, 
body .app-overlay textarea, 
body .app-overlay .code {
	tab-size: 4;
	-moz-tab-size: 4;
	-o-tab-size: 4;
	-webkit-tab-size: 4;
}

body .app-overlay .interface .interface-field,
body .app-overlay .interface .interface-field .field input {
    max-width: 960px;
}

body .app-overlay .app-overlay-navigation section ol,
body .app-overlay .app-overlay-navigation section ul {
    margin-left: 20px;
}

body .app-overlay .divider {
    border-top: rgba(30, 30, 30, 0.1) 1px solid;
    margin: 10px 0;
}

body .app-overlay .divider.sm {
    width: 40%;
    display: inline-block;
}

body .app-overlay .pointer {
	cursor: pointer !important;
}

body .app-overlay h3 {
    font-size: 12px;
    font-weight: 500;
    padding: 5px 0;
    cursor: pointer;
}

body .app-overlay [data-editor-columns] {
	position: absolute;
	background: white;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
	padding: 15px;
	top: 0;
	right: 0;
	text-align: left;
	min-width: 150px;
	display: none;
}

body .app-overlay [data-editor-columns] [data-editor-table-column="id"] {
	display: none !important;
 }

body .app-overlay [data-editor-columns] label {
	color: #ADADAD;
	font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    cursor: pointer;
}

body .app-overlay [data-editor-columns] label span {
	margin-right: 5px;
}

body .app-overlay h3[data-table-anchor] {
	padding: 2px 0;
}

body .app-overlay .lead {
    font-size: 18px;
    font-weight: 300;
    line-height: 1.5em;
    color: #808080;
}

body .app-overlay [data-template] {
    display: none;
}

body .app-overlay .app-overlay-navigation h3:hover,
body .app-overlay .app-overlay-navigation h3:active,
body .app-overlay .app-overlay-navigation h3.active {
    color: #E53935;
}

body .app-overlay .app-overlay-navigation h3.hint {
	color: #BABABA !important;
	cursor: default;
}

body .app-overlay .editor-input {
	border-radius: 0 !important;
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    appearance: none !important;
    overflow: hidden;
    resize: none;
    height: 30px;
    width: 100%;
    border: none !important;
    background: transparent !important;
    padding-left: 0 !important;
}

body .app-overlay .editor-input.error {
	color: #E53935 !important;
}

body .app-overlay .grid-flex {
    display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: row;
	-moz-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-flex-flow: row wrap;
	-moz-flex-flow: row wrap;
	-ms-flex-flow: row wrap;
	flex-flow: row wrap;
	-webkit-box-orient: horizontal;
	-moz-box-orient: horizontal;
	-o-box-orient: horizontal;
}

body .app-overlay .grid-item {
    -ms-flex-positive: 1;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -o-box-flex: 1;
    box-flex: 1;
    -webkit-flex: 1 0 10%;
    -ms-flex: 1 0 10%;
    flex: 1 0 10%;
    flex-grow: 1;
}

body .app-overlay .app-overlay-navigation footer {
    position: absolute;
    display: flex;
    bottom: 0;
    background-color: black;
    width: 100%;
    height: 60px;
}

body .app-overlay .app-overlay-navigation footer button {
    height: 60px;
    min-width: 64px;
    background-color: #404040;
    text-align: center;
    color: white;
    position: relative;
}

body .app-overlay .app-overlay-navigation footer button[data-overlay-close] {
    background-color: #E53935;
}

body .app-overlay .bg-success, body .app-overlay .bg-success-hover:hover {
    background-color: #28A745 !important;
}

body .app-overlay .bg-warning, body .app-overlay .bg-warning-hover:hover {
    background-color: #FF9800 !important;
}

body .app-overlay .bg-info, body .app-overlay .bg-info-hover:hover {
    background-color: #3498DB !important;
}

body .app-overlay .bg-danger, body .app-overlay .bg-danger-hover:hover {
    background-color: #E53935 !important;
}

body .app-overlay .bg-white, body .app-overlay .bg-white-hover:hover {
    background-color: #FFFFFF !important;
}

body .app-overlay .bg-black, body .app-overlay .bg-black-hover:hover {
    background-color: #000000 !important;
}

body .app-overlay .bg-gray, body .app-overlay .bg-gray-hover:hover {
    background-color: #404040 !important;
}

body .app-overlay .text-white, body .app-overlay .text-white-hover:hover {
    color: #FFFFFF !important;
}

body .app-overlay .text-success, body .app-overlay .text-success-hover:hover {
    color: #28A745 !important;
}

body .app-overlay .text-warning, body .app-overlay .text-warning-hover:hover {
    color: #FF9800 !important;
}

body .app-overlay .text-info, body .app-overlay .text-info-hover:hover {
    color: #3498DB !important;
}

body .app-overlay .text-danger, body .app-overlay .text-danger-hover:hover {
    color: #E53935 !important;
}

body .app-overlay .app-overlay-navigation footer button:hover,
body .app-overlay .app-overlay-navigation footer button:active {
    background-color: #303030 !important;
}

body .app-overlay .app-overlay-navigation footer button span {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 10px;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
}

body .app-overlay section.app-overlay-section {
    padding-bottom: 40px;
}

body .app-overlay section.app-overlay-section + section.app-overlay-section {
	border-top: #DADADA 1px solid;
	padding-top: 60px;
}

body .app-overlay section.app-overlay-section .no-items {
	width: 100% !important;
	left: 0 !important;
	margin: 0 !important;
	text-align: center !important;
	height: auto !important;
	top: 45% !important;
}

body .app-overlay section.app-overlay-section.full {
	min-height: 100vh;
	padding: 0 !important;
}

body .app-overlay section.app-overlay-section.on {
	display: block !important;	
}

body .app-overlay section.app-overlay-section ul,
body .app-overlay section.app-overlay-section ol {
    padding: 0 0 0 20px
}

body .app-overlay section.app-overlay-section ol {
    list-style-type: lower-roman;
}

body .app-overlay section.app-overlay-section li {
    padding: 10px;
}

body .app-overlay section.app-overlay-section li ol li {
	list-style-type: lower-alpha;
	padding: 5px;
}

body .app-overlay section.app-overlay-section a {
	display: inline-block;
    color: #E53935;
    font-weight: 500;
}

body .app-overlay section.app-overlay-section li .material-icons,
body .app-overlay section.app-overlay-section p .material-icons {
    vertical-align: middle;
    color: #707070;
}

body .app-overlay .absolute {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    overflow: hidden;
}

body .app-overlay .table {
    display: table;
    margin: 0;
    height: 100%;
    width: 100%;
}

body .app-overlay .table-cell {
    display: table-cell;
    width: 100%;
    vertical-align: middle;
    padding: 20px
}

body .app-overlay .text-center {
    text-align: center;
}

body .app-overlay [data-multi-file-upload-container] {
    position: relative;
}

body .app-overlay [data-multi-file-upload] {
    margin: 35px 0 0 0;
    min-height: 180px;
    border: 2px dashed #808080;
    background: #fafafa;
    position: relative;
    text-align: center;
    padding: 2px;
}

body .app-overlay [data-multi-file-upload] * {
    transition: none !important;
}

body .app-overlay [data-multi-file-upload-alert] {
    margin: 15px 0;
 }

body .app-overlay [data-multi-file-upload] > .dz-message {
    position: absolute;
    width: 100%;
    top: 48%;
    margin: 0;
    left: 0;
    font-size: 20px;
    color: #808080;
}

body .app-overlay [data-multi-file-upload] [data-multi-file-upload-grid-item],
body .app-overlay .grid-item-cdn-preview {
    min-width: 25%;
    max-width: 25%;
    padding: 2px;
}

body .app-overlay .grid-item-cdn-preview .table-cell {
	text-align: center;
}

body .app-overlay .grid-item-cdn-preview .cdn-file {
	font-size: 60px;
	color: #808080;
	border: 2px #808080 dashed;
	border-radius: 50% !important;
	padding: 20px;
}

body .app-overlay .grid-item-cdn-preview [data-file-type] .cdn-file {
	display: none;
}

body .app-overlay .grid-item-cdn-preview [data-file-type="pdf"] .cdn-pdf {
	display: inline-block;
}

body .app-overlay .card-items {
    margin: -2px;
    padding: 2px;
}

body .app-overlay .card-items .card-item {
    padding: 2px;
    min-width: 50%;
    max-width: 50%;
}

body .app-overlay .card-items .card-item.col-33 {
    min-width: 33.333333%;
    max-width: 33.3333333%;
}

body .app-overlay .card-items .card-item .card-item-header {
	display: inline-block;
	margin-bottom: 15px;
}

body .app-overlay .card-items .card-item [data-type] + [data-type]:before {
	content: " \00b7 ";
	display: inline-block;
	padding: 0 10px;
}

body .app-overlay .card-items .card-item [data-type]:after {
	opacity: 0.5;
}

body .app-overlay .card-items .card-item [data-type*="INT"]:after {
	content: " (number)";
}

body .app-overlay .card-items .card-item [data-type="VARCHAR"]:after {
	content: " (alphanumeric)";
}

body .app-overlay .card-items .card-item [data-type*="TEXT"]:after {
	content: " (text)";
}

body .app-overlay .card-items .card-item [data-type*="STAMP"]:after {
	content: " (datetime)";
}

body .app-overlay .card-items .card-item [data-required="true"] {
	font-weight: 600;
}

body .app-overlay .card-items .card-item.full {
    padding: 2px;
    min-width: 100%;
    max-width: 100%;
}

body .app-overlay .card-items .card-item.hover {
    cursor: pointer;
}

body .app-overlay .card {
    padding: 15px;
    background: white;
}

body .app-overlay .card-items .card-item.hover:hover .card {
    background: #EAEAEA !important;
}

@media only screen and (min-width: 1400px)
{
    body .app-overlay [data-multi-file-upload] [data-multi-file-upload-grid-item],
    body .app-overlay .grid-item-cdn-preview {
        min-width: 20%;
        max-width: 20%;
    }

    body .app-overlay .card-items .card-item {
        min-width: 33.3333%;
        max-width: 33.3333%;
    }
}

@media only screen and (max-width: 768px)
{
    body .app-overlay [data-multi-file-upload] [data-multi-file-upload-grid-item],
    body .app-overlay .grid-item-cdn-preview,
    body .app-overlay .card-items .card-item {
        min-width: 33.3333%;
        max-width: 33.3333%;
    }
}

@media only screen and (max-width: 640px)
{
    body .app-overlay [data-multi-file-upload] [data-multi-file-upload-grid-item],
    body .app-overlay .grid-item-cdn-preview {
        min-width: 50%;
        max-width: 50%;
    }

    body .app-overlay .card-items .card-item {
        min-width: 100%;
        max-width: 100%;
    }
}

body .app-overlay .grid-item-full {
    max-width: 100% !important;
    overflow: hidden;
}

body .app-overlay .grid-item-width {
    max-width: 100% !important;
    min-width: 100% !important;
}

body .app-overlay [data-cdn-media-details] input {
    display: block;
    width: 100%;
    max-width: 100%;
    background: #fafafa;
    -webkit-appearance: none;
    appearance: none;
    border: none;
    outline: none;
    height: 40px;
}

body .app-overlay [data-cdn-media-details] table tr td {
    padding: 0;
    margin-bottom: 15px;
}

body .app-overlay [data-cdn-media-details] table tr td.button-parent {
    width: 120px;
}

body .app-overlay [data-cdn-media-details] table tr td .button {
    width: 100%;
    color: white;
}

body .app-overlay .grid-item-full .table,
body .app-overlay .grid-item-full .table-cell {
    max-height: 100% !important;
    max-width: 100% !important;
    overflow: hidden;
    text-align: center;
}

body .app-overlay .cdn-preview img {
    max-height: 200px !important;
    max-width: 100% !important;
    display: inline-block;
}

body .app-overlay .grid-item-cdn-preview {
    position: relative;
}

body .app-overlay .grid-item-cdn-preview .grid-item-container {
    height: 198px;
    position: relative;
    overflow: hidden;
}

body .app-overlay .grid-item-cdn-preview .img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

body .app-overlay .cdn-preview .cdn-file {
    font-size: 168px;
}

body .app-overlay .cdn-preview .table-cell {
    padding: 0 !important;
}

body .app-overlay .cdn-image {
    background: url('/philleepedit/app/media/bg-pattern.png');
    height: 200px;
    cursor: pointer;
}

body .app-overlay [data-multi-file-upload] .dz-preview {
    width: 100%;
    margin: 0;
    padding-bottom: 100%;
    background: #404040;
    overflow: hidden;
}

body .app-overlay [data-multi-file-upload] .dz-preview .dz-details,
body .app-overlay [data-multi-file-upload] .dz-preview .dz-details [data-dz-thumbnail] {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

body .app-overlay [data-multi-file-upload] .dz-buttons-menu {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 5px;
    z-index: 499;
    text-shadow: 0 2px 1px rgba(0, 0, 0, 0.4);
}

body .app-overlay [data-multi-file-upload] .dz-preview .dz-buttons {
    position: absolute;
    width: 100%;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 500;
    transform: translate(0, 100%);
}

body .app-overlay [data-multi-file-upload] .dz-preview:hover .dz-buttons,
body .app-overlay [data-multi-file-upload] .dz-preview:hover .dz-buttons {
    transform: translate(0, 0);
}

body .app-overlay [data-multi-file-upload] .dz-preview .dz-buttons,
body .app-overlay [data-multi-file-upload] .dz-preview .dz-buttons * {
    transition: all 400ms cubic-bezier(0.25, 0.25, 0, 0.985) 10ms !important;
}

body .app-overlay [data-multi-file-upload] .dz-preview .dz-progress {
    height: 6px;
    width: 80%;
    top: 50%;
    left: 10%;
    right: auto;
    bottom: auto;
    margin: -3px 0 0 0;
    background-color: rgba(0, 0, 0, 0.4);
    border: 1px solid rgba(255, 255, 255, 0.2);
    opacity: 1;
}

body .app-overlay [data-multi-file-upload] .dz-preview [data-multi-file-uploaded] {
    font-size: 72px;
    position: absolute;
    left: 50%;
    top: 36px;
    margin-left: -36px;
    opacity: 0;
    z-index: 500;
}

body .app-overlay [data-multi-file-upload] .dz-preview [data-multi-file-uploaded] .material-icons {
    font-size: 72px;
}

body .app-overlay [data-multi-file-upload] .dz-preview .dz-progress .dz-upload {
    background: #28A745 !important;
}

body .app-overlay [data-multi-file-upload] .dz-preview .dz-crop-mark,
body .app-overlay [data-multi-file-upload] .dz-preview .dz-remove-mark,
body .app-overlay [data-multi-file-upload] .dz-preview .dz-success-mark {
    text-align: center;
    color: white;
    position: static;
    margin: 0;
    display: none;
}

body .app-overlay [data-multi-file-upload] .dz-preview [data-multi-file-upload-progress] {
    position: absolute;
    height: 2px;
    top: -2px;
    transition: all 300ms linear !important;
}

body .app-overlay [data-multi-file-upload] .dz-preview .dz-error-message {
    width: 170px;
    top: 150px;
    background: rgba(0, 0, 0, 0.8);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

body .app-overlay [data-multi-file-upload] .dz-preview .dz-error-message:after {
    left: 79px;
    border-bottom-color: rgba(0, 0, 0, 0.8);
}

body .app-overlay [data-multi-file-upload] .dz-preview .dz-crop-mark:hover,
body .app-overlay [data-multi-file-upload] .dz-preview .dz-remove-mark:hover,
body .app-overlay [data-multi-file-upload] .dz-preview .dz-success-mark:hover, {
    background-color: #303030 !important;
}

body .app-overlay [data-multi-file-upload] .dz-preview [data-multi-file-uploaded].active,
body .app-overlay [data-multi-file-upload] .dz-preview .dz-details.active,
body .app-overlay [data-multi-file-upload] .dz-preview .dz-crop-mark.active,
body .app-overlay [data-multi-file-upload] .dz-preview .dz-remove-mark.active,
body .app-overlay [data-multi-file-upload] .dz-preview .dz-success-mark.active {
    opacity: 1 !important;
}

body .app-overlay [data-multi-file-upload] .dz-preview .dz-crop-mark.active,
body .app-overlay [data-multi-file-upload] .dz-preview .dz-remove-mark.active,
body .app-overlay [data-multi-file-upload] .dz-preview .dz-success-mark.active {
    pointer-events: auto !important;
    text-align: center;
    display: inherit;
}

body .app-overlay [data-multi-file-upload] .dz-preview.dz-error .dz-success-mark {
    color: #E53935 !important;
}

body .app-overlay [data-multi-file-upload] .dz-preview .dz-success-mark.active,
body .app-overlay [data-multi-file-upload] .dz-preview .dz-success-mark.active .material-icons,
body .app-overlay [data-multi-file-upload] .dz-preview .dz-remove-mark.active,
body .app-overlay [data-multi-file-upload] .dz-preview .dz-remove-mark.active .material-icons {
    cursor: pointer !important;
}

body .app-overlay [data-multi-file-upload] .dz-preview .material-icons {
    padding: 5px 0;
    margin: 0 auto;
    width: 20px;
    display: block;
}

body .app-overlay [data-multi-file-upload-form] {
    display: none;
    opacity: 0;
    background: #EEEEEE;
    z-index: 1500;
}

body .app-overlay [data-multi-file-upload-form].active {
    display: block;
    opacity: 1;
}

body .app-overlay [data-multi-file-upload-form].active + [data-multi-file-upload] {
    min-height: 480px !important;
}

body .app-overlay [data-multi-file-upload-form] .fields .field .label {
    margin: 0 !important;
}

body .app-overlay [data-multi-file-upload-form] .fields .field .label input {
    display: block;
    margin: 0 auto;
}

body .app-overlay [data-multi-file-upload-form] .fields .field {
    padding-top: 0 !important;
}

body .app-overlay [data-multi-file-upload-form] .fields + .button-group {
    padding-top: 10px;
    text-align: center;
}

body .app-overlay [data-multi-file-upload-form] .button-group .button {
    margin-bottom: 15px;
    margin-right: 15px;
    min-width: 30%;
}

body .app-overlay .app-overlay-navigation-menu {
    position: absolute;
    display: none;
    top: 80px;
    right: 100%;
    z-index: 10000;
    height: 50px !important;
    width: 50px !important;
    padding: 0 !important;
    margin-right: 2px;
    border: none !important;
    outline: none !important;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2) !important;
}

body .app-overlay .app-overlay-navigation-menu .material-icons {
    margin: 0 !important;
    padding: 0 !important;
}

@media only screen and (max-width: 960px)
{
    body .app-overlay .app-overlay-section {
        margin-right: 20px !important;
    }

    body .app-overlay .app-overlay-navigation {
        transform: translate(100%, 0);
    }

    body .app-overlay .app-overlay-navigation:active,
    body .app-overlay .app-overlay-navigation:hover {
        transform: translate(0, 0);
    }

    body .app-overlay .app-overlay-navigation-menu {
        display: block !important;
    }
}

/* Login - Overrides */

@keyframes loginBG {
	from { background-position: center -500px; }
	to { background-position: center 50px; }
}

body.login {
    background-image: url(/storage/app/media/logo.png);
    background-position: center 50px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 200px auto;
    animation: loginBG 1s ease;
}

body.login .glow {
	background: none !important;
}
