/* !GLOBALS */

@mouse: ~'html.no-touch';

.easeInSine()
{
    .animation-timing-function(cubic-bezier(0.47, 0, 0.745, 0.715));
}
.easeOutSine()
{
    .animation-timing-function(cubic-bezier(0.39, 0.575, 0.565, 1));
}
.easeInOutSine()
{
    .animation-timing-function(cubic-bezier(0.445, 0.05, 0.55, 0.95));
}
.easeInQuad()
{
    .animation-timing-function(cubic-bezier(0.55, 0.085, 0.68, 0.53));
}
.easeOutQuad()
{
    .animation-timing-function(cubic-bezier(0.25, 0.46, 0.45, 0.94));
}
.easeInOutQuad()
{
    .animation-timing-function(cubic-bezier(0.455, 0.03, 0.515, 0.955));
}
.easeInCubic()
{
    .animation-timing-function(cubic-bezier(0.55, 0.055, 0.675, 0.19));
}
.easeOutCubic()
{
    .animation-timing-function(cubic-bezier(0.215, 0.61, 0.355, 1));
}
.easeInOutCubic()
{
    .animation-timing-function(cubic-bezier(0.645, 0.045, 0.355, 1));
}
.easeInQuart()
{
    .animation-timing-function(cubic-bezier(0.895, 0.03, 0.685, 0.22));
}
.easeOutQuart()
{
    .animation-timing-function(cubic-bezier(0.165, 0.84, 0.44, 1));
}
.easeInOutQuart()
{
    .animation-timing-function(cubic-bezier(0.77, 0, 0.175, 1));
}
.easeInQuint()
{
    .animation-timing-function(cubic-bezier(0.755, 0.05, 0.855, 0.06));
}
.easeOutQuint()
{
    .animation-timing-function(cubic-bezier(0.23, 1, 0.32, 1));
}
.easeInOutQuint()
{
    .animation-timing-function(cubic-bezier(0.86, 0, 0.07, 1));
}
.easeInExpo()
{
    .animation-timing-function(cubic-bezier(0.95, 0.05, 0.795, 0.035));
}
.easeOutExpo()
{
    .animation-timing-function(cubic-bezier(0.19, 1, 0.22, 1));
}
.easeInOutExpo()
{
    .animation-timing-function(cubic-bezier(1, 0, 0, 1));
}
.easeInCirc()
{
    .animation-timing-function(cubic-bezier(0.6, 0.04, 0.98, 0.335));
}
.easeOutCirc()
{
    .animation-timing-function(cubic-bezier(0.075, 0.82, 0.165, 1));
}
.easeInOutCirc()
{
    .animation-timing-function(cubic-bezier(0.785, 0.135, 0.15, 0.86));
}
.easeInBack()
{
    .animation-timing-function(cubic-bezier(0.6, -0.28, 0.735, 0.045));
}
.easeOutBack()
{
    .animation-timing-function(cubic-bezier(0.175, 0.885, 0.32, 1.275));
}
.easeInOutBack()
{
    .animation-timing-function(cubic-bezier(0.68, -0.55, 0.265, 1.55));
}

/* !PREFIXERS */

.align-content(@alignment)
{
    -moz-align-content: @alignment;
    -ms-align-content: @alignment;
    -webkit-align-content: @alignment;
    align-content: @alignment;
}
.align-items(@mode)
{
    -webkit-box-align: @mode;
    -moz-box-align: @mode;
    -ms-flex-align: @mode;
    -webkit-align-items: @mode;
    align-items: @mode;
}
.align-self(@align: auto)
{
    -webkit-align-self: @align;
    -moz-align-self: @align;
    -ms-align-self: @align;
    -webkit-align-self: @align;
    align-self: @align;
}
.animation(@args)
{
    -webkit-animation: @args;
    -moz-animation: @args;
    -ms-animation: @args;
    -o-animation: @args;
    animation: @args;
}
.animation-delay(@delay)
{
    -webkit-animation-delay: @delay;
    -moz-animation-delay: @delay;
    -ms-animation-delay: @delay;
    -o-animation-delay: @delay;
    animation-delay: @delay;
}
.animation-direction(@direction)
{
    -webkit-animation-direction: @direction;
    -moz-animation-direction: @direction;
    -ms-animation-direction: @direction;
    -o-animation-direction: @direction;
}
.animation-duration(@duration)
{
    -webkit-animation-duration: @duration;
    -moz-animation-duration: @duration;
    -ms-animation-duration: @duration;
    -o-animation-duration: @duration;
}
.animation-fill-mode(@mode)
{
    -webkit-animation-fill-mode: @mode;
    -moz-animation-fill-mode: @mode;
    -ms-animation-fill-mode: @mode;
    -o-animation-fill-mode: @mode;
    animation-fill-mode: @mode;
}
.animationFull()
{
	@-webkit-keyframes animationFull {
		to {
			width: 100vw;
			height: 100vh;
		}
	}

	@keyframes animationFull {
		to {
			width: 100vw;
			height: 100vh;
		}
	}

	.animationFull {
		-webkit-animation-name: animationFull;
		animation-name: animationFull;
	}
}
.animationSkew()
{
	@-webkit-keyframes animationSkew {
		from {
			.transform(0, 0, 0, 0, 1, 45deg, 45deg);
		}
		to {
			.transform(0, 0, 0, 1, 1, 0, 0);
		}
	}

	@keyframes animationSkew {
		from {
			.transform(0, 0, 0, 0, 1, 45deg, 45deg);
		}
		to {
			.transform(0, 0, 0, 1, 1, 0, 0);
		}
	}

	.animationSkew {
		-webkit-animation-name: animationSkew;
		animation-name: animationSkew;
	}
}
.animation-iteration-count(@count)
{
    -webkit-animation-iteration-count: @count;
    -moz-animation-iteration-count: @count;
    -ms-animation-iteration-count: @count;
    -o-animation-iteration-count: @count;
    animation-iteration-count: @count;
}
.animation-name(@name)
{
    -webkit-animation-name: @name;
    -moz-animation-name: @name;
    -ms-animation-name: @name;
    -o-animation-name: @name;
    animation-name: @name;
}
.animation-play-state(@state)
{
    -webkit-animation-play-state: @state;
    -moz-animation-play-state: @state;
    -ms-animation-play-state: @state;
    -o-animation-play-state: @state;
    animation-play-state: @state;
}
.animation-timing-function(@function)
{
    -webkit-animation-timing-function: @function;
    -moz-animation-timing-function: @function;
    -ms-animation-timing-function: @function;
    -o-animation-timing-function: @function;
    animation-timing-function: @function;
}
.appearance()
{
    border-radius: 0 !important;
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    appearance: none !important;
}
.background-size(@args)
{
    -webkit-background-size: @args;
    background-size: @args;
}
.border-radius(@args)
{
    -webkit-border-radius: @args;
    border-radius: @args;

    background-clip: padding-box;
}
.box-shadow(@args)
{
    -webkit-box-shadow: @args;
    box-shadow: @args;
}
.box-sizing(@args)
{
    -webkit-box-sizing: @args;
    -moz-box-sizing: @args;
    box-sizing: @args;
}
.border-box()
{
    .box-sizing(border-box);
}
.columns(@args)
{
    -webkit-columns: @args;
    -moz-columns: @args;
    columns: @args;
}
.column-count(@count)
{
    -webkit-column-count: @count;
    -moz-column-count: @count;
    column-count: @count;
}
.column-gap(@gap)
{
    -webkit-column-gap: @gap;
    -moz-column-gap: @gap;
    column-gap: @gap;
}
.column-width(@width)
{
    -webkit-column-width: @width;
    -moz-column-width: @width;
    column-width: @width;
}
.column-rule(@args)
{
    -webkit-column-rule: @args;
    -moz-column-rule: @args;
    column-rule: @args;
}
.content-box()
{
    .box-sizing(content-box);
}
.filter(@blur:0, @grayscale:0, @sepia:0, @saturate:100%, @hue-rotate:0, @invert:0, @opacity:100%, @brightness:100%, @contrast:100%)
{
    -webkit-filter: blur(@blur) grayscale(@grayscale) sepia(@sepia) saturate(@saturate) hue-rotate(@hue-rotate) invert(@invert) opacity(@opacity) brightness(@brightness) contrast(@contrast);
    -moz-filter: blur(@blur) grayscale(@grayscale) sepia(@sepia) saturate(@saturate) hue-rotate(@hue-rotate) invert(@invert) opacity(@opacity) brightness(@brightness) contrast(@contrast);
    -ms-filter: blur(@blur) grayscale(@grayscale) sepia(@sepia) saturate(@saturate) hue-rotate(@hue-rotate) invert(@invert) opacity(@opacity) brightness(@brightness) contrast(@contrast);
    -o-filter: blur(@blur) grayscale(@grayscale) sepia(@sepia) saturate(@saturate) hue-rotate(@hue-rotate) invert(@invert) opacity(@opacity) brightness(@brightness) contrast(@contrast);
    filter: blur(@blur) grayscale(@grayscale) sepia(@sepia) saturate(@saturate) hue-rotate(@hue-rotate) invert(@invert) opacity(@opacity) brightness(@brightness) contrast(@contrast);
}
.flex(@args: none)
{
    -webkit-flex: @args;
    -moz-flex: @args;
    -ms-flex: @args;
    -webkit-flex: @args;
    flex: @args;
}
.flex-grow(@grow: 1)
{
    -webkit-flex-grow: @grow;
    -moz-flex-grow: @grow;
    -ms-flex-grow: @grow;
    -o-flex-grow: @grow;
    flex-grow: @grow;
}
.flex-shrink(@shrink: 1)
{
    -webkit-flex-shrink: @shrink;
    -moz-flex-shrink: @shrink;
    -ms-flex-shrink: @shrink;
    -o-flex-shrink: @shrink;
    flex-shrink: @shrink;
}
.flex-basis(@basis: auto)
{
    -webkit-flex-basis: @basis;
    -moz-flex-basis: @basis;
    -ms-flex-basis: @basis;
    -o-flex-basis: @basis;
    flex-basis: @basis;
}
.flex-block()
{
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}
.flex-inline()
{
    display: -ms-inline-flexbox;
    display: -webkit-inline-flex;
    display: inline-flex;
}
.flex-flow(@direction: row, @wrap: nowrap)
{
    -moz-flex-flow: @direction @wrap;
    -ms-flex-direction: @direction;
    -ms-flex-wrap: @wrap;
    -o-flex-flow: @direction @wrap;
    flex-flow: @direction @wrap;
}
.flex-direction(@direction: row)
{
    -webkit-flex-direction: @direction;
    -moz-flex-direction: @direction;
    -ms-flex-direction: @direction;
    -o-flex-direction: @direction;
    flex-direction: @direction;
}
.flex-wrap(@wrap: nowrap)
{
    -webkit-flex-wrap: @wrap;
    -moz-flex-wrap: @wrap;
    -ms-flex-wrap: @wrap;
    flex-wrap: @wrap;
}
.inner-shadow(@args)
{
    .box-shadow(inset @args);
}
.justify-content(@justification)
{
    -webkit-box-pack: @justification;
    -moz-box-pack: @justification;
    -ms-flex-pack: @justification;
    -webkit-justify-content: @justification;
    justify-content: @justification;
}
.keyframes(@name; @arguments)
{
	@-webkit-keyframes @name { @arguments(); }
	@-moz-keyframes @name { @arguments(); }
	@-o-keyframes @name { @arguments(); }
	@keyframes @name { @arguments(); }
}
.linear-gradient-left-top-left-bottom(@color1, @color2)
{
	background-image: -webkit-gradient(linear, left top, left bottom, from(@color1), to(@color1)), -webkit-gradient(linear, left top, left bottom, from(@color2), to(@color2));
	background-image: -webkit-linear-gradient(@color1, @color1), -webkit-linear-gradient(@color2, @color2);
	background-image: -o-linear-gradient(@color1, @color1), -o-linear-gradient(@color2, @color2);
	background-image: linear-gradient(@color1, @color1), linear-gradient(@color2, @color2);
}
.linear-gradient-top(@color1,@stop1,@color2,@stop2)
{
    background-color: @color1;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(@stop1, @color1), color-stop(@stop2 @color2));
    background-image: -webkit-linear-gradient(top, @color1 @stop1, @color2 @stop2);
    background-image: -moz-linear-gradient(top, @color1 @stop1, @color2 @stop2);
    background-image: -ms-linear-gradient(top, @color1 @stop1, @color2 @stop2);
    background-image: -o-linear-gradient(top, @color1 @stop1, @color2 @stop2);
    background-image: linear-gradient(top, @color1 @stop1, @color2 @stop2);
}
.linear-gradient-top-3(@color1,@stop1,@color2,@stop2,@color3,@stop3)
{
    background-color: @color1;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(@stop1, @color1), color-stop(@stop2 @color2), color-stop(@stop3 @color3));
    background-image: -webkit-linear-gradient(top, @color1 @stop1, @color2 @stop2, @color3 @stop3);
    background-image: -moz-linear-gradient(top, @color1 @stop1, @color2 @stop2, @color3 @stop3);
    background-image: -ms-linear-gradient(top, @color1 @stop1, @color2 @stop2, @color3 @stop3);
    background-image: -o-linear-gradient(top, @color1 @stop1, @color2 @stop2, @color3 @stop3);
    background-image: linear-gradient(top, @color1 @stop1, @color2 @stop2, @color3 @stop3);
}
.linear-gradient-top-4(@color1,@stop1,@color2,@stop2,@color3,@stop3,@color4,@stop4)
{
    background-color: @color1;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(@stop1, @color1), color-stop(@stop2 @color2), color-stop(@stop3 @color3), color-stop(@stop4 @color4));
    background-image: -webkit-linear-gradient(top, @color1 @stop1, @color2 @stop2, @color3 @stop3, @color4 @stop4);
    background-image: -moz-linear-gradient(top, @color1 @stop1, @color2 @stop2, @color3 @stop3, @color4 @stop4);
    background-image: -ms-linear-gradient(top, @color1 @stop1, @color2 @stop2, @color3 @stop3, @color4 @stop4);
    background-image: -o-linear-gradient(top, @color1 @stop1, @color2 @stop2, @color3 @stop3, @color4 @stop4);
    background-image: linear-gradient(top, @color1 @stop1, @color2 @stop2, @color3 @stop3, @color4 @stop4);
}
.linear-gradient-left(@color1,@stop1,@color2,@stop2)
{
    background-color: @color1;
    background-image: -webkit-gradient(linear, left top, left top, color-stop(@stop1, @color1), color-stop(@stop2 @color2));
    background-image: -webkit-linear-gradient(left, @color1 @stop1, @color2 @stop2);
    background-image: -moz-linear-gradient(left, @color1 @stop1, @color2 @stop2);
    background-image: -ms-linear-gradient(left, @color1 @stop1, @color2 @stop2);
    background-image: -o-linear-gradient(left, @color1 @stop1, @color2 @stop2);
    background-image: linear-gradient(left, @color1 @stop1, @color2 @stop2);
}
.linear-gradient-left-3(@color1,@stop1,@color2,@stop2,@color3,@stop3)
{
    background-color: @color1;
    background-image: -webkit-gradient(linear, left top, left top, color-stop(@stop1, @color1), color-stop(@stop2 @color2), color-stop(@stop3 @color3));
    background-image: -webkit-linear-gradient(left, @color1 @stop1, @color2 @stop2, @color3 @stop3);
    background-image: -moz-linear-gradient(left, @color1 @stop1, @color2 @stop2, @color3 @stop3);
    background-image: -ms-linear-gradient(left, @color1 @stop1, @color2 @stop2, @color3 @stop3);
    background-image: -o-linear-gradient(left, @color1 @stop1, @color2 @stop2, @color3 @stop3);
    background-image: linear-gradient(left, @color1 @stop1, @color2 @stop2, @color3 @stop3);
}
.linear-gradient-left-4(@color1,@stop1,@color2,@stop2,@color3,@stop3,@color4,@stop4)
{
    background-color: @color1;
    background-image: -webkit-gradient(linear, left top, left top, color-stop(@stop1, @color1), color-stop(@stop2 @color2), color-stop(@stop3 @color3), color-stop(@stop4 @color4));
    background-image: -webkit-linear-gradient(left, @color1 @stop1, @color2 @stop2, @color3 @stop3, @color4 @stop4);
    background-image: -moz-linear-gradient(left, @color1 @stop1, @color2 @stop2, @color3 @stop3, @color4 @stop4);
    background-image: -ms-linear-gradient(left, @color1 @stop1, @color2 @stop2, @color3 @stop3, @color4 @stop4);
    background-image: -o-linear-gradient(left, @color1 @stop1, @color2 @stop2, @color3 @stop3, @color4 @stop4);
    background-image: linear-gradient(left, @color1 @stop1, @color2 @stop2, @color3 @stop3, @color4 @stop4);
}
.diagonal-gradient-left-right(@color1, @color2)
{
    background: -webkit-linear-gradient(left top, @color1, @color2);
    background: -o-linear-gradient(bottom right, @color1, @color2);
    background: -moz-linear-gradient(bottom right, @color1, @color2);
    background: linear-gradient(to bottom right, @color1, @color2);
}
.opacity(@factor)
{
    @iefactor: @factor*100;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=@{iefactor})";
    filter: ~"alpha(opacity=(@{iefactor}))";
    opacity: @factor;
}
.order(@num: 0)
{
    -webkit-box-ordinal-group: @order;
    -moz-box-ordinal-group: @order;
    -ms-box-ordinal-group: @order;
    -ms-flex-order: @order;
    -webkit-order: @order;
    -moz-order: @order;
    -ms-order: @order;
    order: @order;
}
.outline(@color: white, @outline: black)
{
	color: @color;
	text-shadow: -1px -1px 0 @outline, 1px -1px 0 @outline, -1px 1px 0 @outline, 1px 1px 0 @outline;
}
.placeholder(@arguments)
{
	&::-webkit-input-placeholder { @arguments(); }
	&:-moz-placeholder { @arguments(); }
	&::-moz-placeholder { @arguments(); }
	&:-ms-input-placeholder { @arguments(); }
}
.preserve3d()
{
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	transform-style: preserve-3d;
}
.radial-gradient(@type:circle, @color:#FFF, @amount:12px)
{
    background-image: radial-gradient(@type at 0 0, ( fade(@color, 0) ) @amount, @color (@amount + 1)),
    radial-gradient(@type at 100% 0, ( fade(@color, 0) ) @amount, @color (@amount + 1)),
    radial-gradient(@type at 100% 100%, ( fade(@color, 0) ) @amount, @color (@amount + 1)),
    radial-gradient(@type at 0 100%, ( fade(@color, 0) ) @amount, @color (@amount + 1));
}
.radial-gradient-bottom-left(@type:circle, @color:#FFF, @amount:12px)
{
    background-image: radial-gradient(@type at 0 100%, ( fade(@color, 0) ) @amount, @color (@amount + 1));
}
.radial-gradient-bottom-right(@type:circle, @color:#FFF, @amount:12px)
{
    background-image: radial-gradient(@type at 100% 100%, ( fade(@color, 0) ) @amount, @color (@amount + 1));
}
.radial-gradient-top-left(@type:circle, @color:#FFF, @amount:12px)
{
    background-image: radial-gradient(@type at 0 0, ( fade(@color, 0) ) @amount, @color (@amount + 1));
}
.radial-gradient-top-right(@type:circle, @color:#FFF, @amount:12px)
{
    background-image: radial-gradient(@type at 100% 0, ( fade(@color, 0) ) @amount, @color (@amount + 1));
}
.rotate(@arguments:0deg)
{
	-webkit-transform: rotate(@arguments);
    -moz-transform: rotate(@arguments);
    -ms-transform: rotate(@arguments);
    -o-transform: rotate(@arguments);
    transform: rotate(@arguments);
}
.rotateplane(@perspective: 120px)
{
	@-webkit-keyframes rotateplane {
		0% {
			-webkit-transform: perspective(@perspective)
		}
		50% {
			-webkit-transform: perspective(@perspective) rotateY(180deg)
		}
		100% {
			-webkit-transform: perspective(@perspective) rotateY(180deg)  rotateX(180deg)
		}
	}

	@keyframes rotateplane {
		0% {
			transform: perspective(@perspective) rotateX(0deg) rotateY(0deg);
			-webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg)
		}
		50% {
			transform: perspective(@perspective) rotateX(-180.1deg) rotateY(0deg);
			-webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg)
		}
		100% {
			transform: perspective(@perspective) rotateX(-180deg) rotateY(-179.9deg);
			-webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
		}
	}
}
.scale(@arguments:~"1, 1")
{
	-webkit-transform: scale(@arguments);
    -moz-transform: scale(@arguments);
    -ms-transform: scale(@arguments);
    -o-transform: scale(@arguments);
    transform: scale(@arguments);
}
.skew (@deg, @deg2)
{
	-webkit-transform: skew(@deg, @deg2);
	-moz-transform: skew(@deg, @deg2);
	-ms-transform: skew(@deg, @deg2);
	-o-transform: skew(@deg, @deg2);
}
.skewX(@arguments:0)
{
	-webkit-transform: skewX(@arguments);
    -moz-transform: skewX(@arguments);
    -ms-transform: skewX(@arguments);
    -o-transform: skewX(@arguments);
    transform: skewX(@arguments);
}
.skewY(@arguments:0)
{
	-webkit-transform: skewY(@arguments);
    -moz-transform: skewY(@arguments);
    -ms-transform: skewY(@arguments);
    -o-transform: skewY(@arguments);
    transform: skewY(@arguments);
}
.transform(@translateX:0, @translateY:0, @rotate:0, @scaleX:1, @scaleY:1, @skewX:0, @skewY:0)
{
    -webkit-transform: translate(@translateX, @translateY) translateZ(0) rotate(@rotate) rotateZ(0) scale(@scaleX, @scaleY) skew(@skewX, @skewY);
    -moz-transform: translate(@translateX, @translateY) translateZ(0) rotate(@rotate) rotateZ(0) scale(@scaleX, @scaleY) skew(@skewX, @skewY);
    -ms-transform: translate(@translateX, @translateY) translateZ(0) rotate(@rotate) rotateZ(0) scale(@scaleX, @scaleY) skew(@skewX, @skewY);
    -o-transform: translate(@translateX, @translateY) translateZ(0) rotate(@rotate) rotateZ(0) scale(@scaleX, @scaleY) skew(@skewX, @skewY);
    transform: translate(@translateX, @translateY) translateZ(0) rotate(@rotate) rotateZ(0) scale(@scaleX, @scaleY) skew(@skewX, @skewY);
    .transform-style(preserve-3d);
}
.transform3d(@arguments)
{
	-webkit-transform: @arguments;
    -moz-transform: @arguments;
    -ms-transform: @arguments;
    -o-transform: @arguments;
    transform: @arguments;
}
.transform-style(@style)
{
    -webkit-transform-style: @style;
    -moz-transform-style: @style;
    -ms-transform-style: @style;
    -o-transform-style: @style;
    transform-style: @style;
}
.transition(@duration:400ms, @timing:cubic-bezier(0.250, 0.250, 0.000, 0.985), @delay:100ms)
{
    -webkit-transition: all @duration @timing @delay;
    -moz-transition: all @duration @timing @delay;
    -o-transition: all @duration @timing @delay;
    -ms-transition: all @duration @timing @delay;
    transition: all @duration @timing @delay;
}
.transition-delay(@arguments)
{
    -webkit-transition-delay: @arguments;
    -moz-transition-delay: @arguments;
    -o-transition-delay: @arguments;
    -ms-transition-delay: @arguments;
    transition-delay: @arguments;
}
.transition-duration(@duration:200ms)
{
    -webkit-transition-duration: @duration;
    -moz-transition-duration: @duration;
    -o-transition-duration: @duration;
    -ms-transition-duration: @duration;
    transition-duration: @duration;
}
.transform-origin(@x:0, @y:0, @z:0)
{
    -webkit-transform-origin: @x @y @z;
    -moz-transform-origin: @x @y @z;
    -ms-transform-origin: @x @y @z;
    -o-transform-origin: @x @y @z;
    transform-origin: @x @y @z;
}
.transition-property(@arguments: ~'transform, opacity, color, background-color, border-color, filter')
{
    -webkit-transition-property: @arguments;
    -moz-transition-property: @arguments;
    -o-transition-property: @arguments;
    -ms-transition-property: @arguments;
    transition-property: @arguments;
}
.transition-timing-function(@function:ease)
{
    -webkit-transition-timing-function: @function;
    -moz-transition-timing-function: @function;
    -o-transition-timing-function: @function;
    -ms-transition-timing-function: @function;
    transition-timing-function: @function;
}
.translateX(@arguments:0)
{
	-webkit-transform: translateX(@arguments);
    -moz-transform: translateX(@arguments);
    -ms-transform: translateX(@arguments);
    -o-transform: translateX(@arguments);
    transform: translateX(@arguments);
}
.translateY(@arguments:0)
{
	-webkit-transform: translateY(@arguments);
    -moz-transform: translateY(@arguments);
    -ms-transform: translateY(@arguments);
    -o-transform: translateY(@arguments);
    transform: translateY(@arguments);
}
.translateZ(@arguments:0)
{
	-webkit-transform: translateZ(@arguments);
    -moz-transform: translateZ(@arguments);
    -ms-transform: translateZ(@arguments);
    -o-transform: translateZ(@arguments);
    transform: translateZ(@arguments);
}

/* !HELPERS */

.absolute-100()
{
	position:absolute;
	top:0;
	left:0;
	bottom:0;
	right:0;
	overflow:hidden;
}
.active(@content)
{
	html.no-touchevents &:hover, html.no-touchevents &:active, &.active
	{
		@content();
	}
}
.aligncenter(@position:absolute)
{
	position: @position !important;
	top: 50%;
	left: 50%;
	.translate2d(-50%, -50%);
}
.alignrightcenter(@position:absolute)
{
	position: @position !important;
	top: 50%;
	left: auto;
	right: 0;
	.translate2d(0, -50%);
}
.alignstaticcenter(@position:absolute)
{
	position: @position !important;
	top: 50%;
	.translate2d(0, -50%);
}
.alignleftcenter(@position:absolute)
{
	position: @position !important;
	top: 50%;
	left: 0;
	.translate2d(0, -50%);
}
.aligncenterstatic(@position:absolute)
{
	position: @position !important;
	left: 50%;
	.translate2d(-50%, 0);
}
.aligntopright(@position:absolute)
{
    position: absolute !important;
    top: 0;
    left: auto;
    right: 0;
    bottom: auto;
}
.backface(@hidden:hidden)
{
	-webkit-backface-visibility: @arguments;
	-moz-backface-visibility: @arguments;
	-o-backface-visibility: @arguments;
	-ms-backface-visibility: @arguments;
	backface-visibility: @arguments;
}
.beforefull(@content:'')
{
	content: @content;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.bgcovercenter() {
    background-repeat:no-repeat !important;
    background-size:cover !important;
    background-position:center !important;
}
.bgcovertop() {
    background-repeat:no-repeat !important;
    background-size:cover !important;
    background-position:top center !important;

    @keyframes animatedbgcovertop {
    	0% { background-position: top center; }
    	50% { background-position: bottom center; }
        100% { background-position: top center; }
    }

    &.bganimate
    {
        .hover({
            .animation(animatedbgcovertop 5s ease);
        });
    }
}
.bgcoverheight() {
    background-repeat:no-repeat !important;
    background-size:auto 100% !important;
    background-position:center !important;
}
.bgcoverwidth() {
    background-repeat:no-repeat !important;
    background-size:100% auto !important;
    background-position:center !important;
}
.bgcenter() {
    background-repeat:no-repeat !important;
    background-size: initial !important;
    background-position:center !important;
}
.bgcontain() {
    background-repeat:no-repeat !important;
    background-size: contain !important;
    background-position:center !important;
}
.bgloaded() {
    -webkit-animation: fadeIn 1s ease-in-out; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadeIn 1s ease-in-out; /* Firefox < 16 */
        -ms-animation: fadeIn 1s ease-in-out; /* Internet Explorer */
         -o-animation: fadeIn 1s ease-in-out; /* Opera < 12.1 */
            animation: fadeIn 1s ease-in-out;

}
.bodyfont()
{
	font-family: 'Lucida Grande','Lucida Sans Unicode','Lucida Sans',sans-serif
}
.borderafter(@color: @color, @width: 25%)
{
	content: ' ';
	display: block;
	width: @width;
	height: 1px;
	background-color: @color;
	clear: both;
}
.borderradius(@radius:2px)
{
	border-radius: @radius;
}
.boxshadow(@x:0, @y:0, @blur:5px, @spread:0, @color:rgba(0, 0, 0, 0.25))
{
	box-shadow: @arguments;
}
.button()
{
	position: relative;
	background: none;
	border: none;
	border-radius: 0;
	cursor: pointer;
	overflow: hidden;
    outline: none !important;
    .border-box();
	.backface();
}
.buttonborder(@color:white, @size:2px, @style:solid)
{
	border: @arguments;
}
.desktop(@rules)
{
    @media only screen and (min-width: 769px)
    {
        @rules();
    }
}
.equalizer()
{
	.keyframes(equalizer, {
		0% { height: 0; }
		30% { height: 60%; }
		50% { height: 40%; }
		70% { height: 100%; }
		100% { height: 0; }
	});
}
.fixed-100()
{
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
	overflow:hidden;
}
.fontawesome(@fontsize:14px)
{
	font-family: FontAwesome;
	font-size: @fontsize;
	font-weight: 400;
	width: @fontsize;
	text-align: center;
}
.glyphicon(@fontsize:12px)
{
	font-family: 'Glyphicons Halflings';
	font-size: @fontsize;
	font-style: normal;
	font-weight: normal;
	width: @fontsize;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.grayscale(@percent:100%)
{
	-webkit-filter: grayscale(@arguments);
			filter: grayscale(@arguments);
}
.hover(@content)
{
	html.no-touchevents &:hover, html.no-touchevents &:active
	{
		@content();
	}
}
.large(@rules)
{
    @media (min-width: 1024px) and (min-height: 768px)
    {
        @rules();
    }
}
.materialiconic(@fontsize:24px)
{
	display: inline-block;
	font: normal normal normal @fontsize/1 MaterialDesignIcons;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	transform: translate(0, 0);
	height: @fontsize;
}
.medium(@rules)
{
    @media only screen and (min-width: 640px)
    {
        @rules();
    }
}
.mobile(@rules)
{
    @media only screen and (max-width: 640px)
    {
        @rules();
    }
}
.noalign()
{
	position:relative;
	top: auto;
	right: auto;
	bottom: auto;
	left: auto;
	.translate2d();
	float: none;
}
.noselect()
{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.notransition()
{
	-webkit-transition:none;
	-moz-transition:none;
	transition:none;
}
.nowrap(@overflow:ellipsis)
{
	overflow:hidden;
	text-overflow:@overflow;
	white-space:nowrap;
}
.octicon(@fontsize:16px)
{
	font-family: octicons;
	font-size: @fontsize;
	font-weight: 400;
	width: @fontsize;
	text-align: center;
}
.position(@position:relative, @top:auto, @right:auto, @bottom:auto, @left:auto)
{
	position: @position;
	top: @top;
	right: @right;
	bottom: @bottom;
	left: @left;
}
.pulse()
{
	.keyframes(pulse; {
		0%, 100% { opacity: 0.25; .translate2d(0, 0, 0);  }
		55% { opacity: 1; .translate2d(0, 55%, 0); }
	});
}
.spin()
{
	.keyframes(spin; {
		0% { .translate2d(0, 0, 0); }
		100% { .translate2d(0, 0, 359deg); }
	});
}
.spincenter()
{
	.keyframes(spincenter; {
		0% { .translate2d(-50%, -50%, 0); }
		100% { .translate2d(-50%, -50%, 359deg); }
	});
}
.tablet(@rules)
{
    @media only screen and (max-width: 768px)
    {
        @rules();
    }
}
.translate2d(@translateX:0, @translateY:0, @rotate:0, @scaleX:1, @scaleY:1, @skewX:0, @skewY:0, @style:preserve-3d)
{
	.transform(@translateX, @translateY, @rotate, @scaleX, @scaleY, @skewX, @skewY);
	.transform-style(@style);
}
.typeicon(@fontsize:16px)
{
	font-family: typicons;
	font-size: @fontsize;
	font-weight: 400;
	text-align: center;
}
.verticalalign()
{
	position: relative;
	top: 50%;
	.translateY(-50%);
	.transform-style(flat);
}
.zoom()
{
	opacity:0;
	.translate2d(-50%, -50%, 0, 0.5, 0.5);
}
.zoomBig()
{
	@-webkit-keyframes zoomBigIn {
		0% { .scale(~"1.25, 1.25"); opacity: 0; }
		100% { .scale(); opacity: 1; }
	}

	@keyframes zoomBigIn {
		0% { .scale(~"1.25, 1.25"); opacity: 0; }
		100% { .scale(); opacity: 1; }
	}

	.zoomBigIn {
	  -webkit-animation-name: zoomBigIn;
	  animation-name: zoomBigIn;
	}

	@-webkit-keyframes zoomBigOut {
		0% { .scale(); opacity: 1; }
		100% { .scale(~"1.5, 1.5"); opacity: 0; }
	}

	@keyframes zoomBigOut {
		0% { .scale(); opacity: 1; }
		100% { .scale(~"1.5, 1.5"); opacity: 0; }
	}

	.zoomBigOut {
	  -webkit-animation-name: zoomBigOut;
	  animation-name: zoomBigOut;
	}
}
.zoomvisibility()
{
	opacity:0;
	visibility:hidden;
	.translate2d(-50%, -50%, 0, 0.5, 0.5);
}

/* !RENDERERS */

/* !FONT SIZE (1 - 50) HELPERS */
.fontsizeloop(@n:50, @i:0) when (@i <= @n)
{
	.fs-@{i}px
	{
		font-size: ~"@{i}px" !important;
	}

	.fs-@{i}em
	{
		font-size: ~"@{i}em" !important;
	}

	.fs-@{i}vh
	{
		font-size: ~"@{i}vh" !important;
	}

	.fs-@{i}vw
	{
		font-size: ~"@{i}vw" !important;
	}

	.lh-@{i}em
	{
		line-height: ~"@{i}em" !important;
	}

	.lh-@{i}vh
	{
		line-height: ~"@{i}vh" !important;
	}

	.lh-@{i}vw
	{
		line-height: ~"@{i}vw" !important;
	}

	.lh-@{i}px
	{
		line-height: ~"@{i}px" !important;
	}

	.ls-@{i}px
	{
		letter-spacing: @i * 0.5px !important;
	}

	.height-@{i}em
	{
		height: ~"@{i}em" !important;
	}

	.width-@{i}em
	{
		width: ~"@{i}em" !important;
	}

	@media (max-width: 640px)
	{

		.fs-xs-@{i}px
		{
			font-size: ~"@{i}px" !important;
		}

		.fs-xs-@{i}em
		{
			font-size: ~"@{i}em" !important;
		}

		.fs-xs-@{i}vh
		{
			font-size: ~"@{i}vh" !important;
		}

		.fs-xs-@{i}vw
		{
			font-size: ~"@{i}vw" !important;
		}

	}

	.fontsizeloop(@n, (@i + 1));
}

.fontweightloop(@n:700, @i:100) when (@i <= @n)
{
	.fw-@{i}
	{
		font-weight: ~"@{i}" !important;
	}

	.fontweightloop(@n, (@i + 100));
}

.transitiondurationloop(@n, @i:1, @start:200ms, @step:75) when (@i <= @n)
{
	.t-duration:nth-child(@{i})
	{
		.transition-duration(@start + ( @i * @step ));
	}

	.transitiondurationloop(@n, (@i + 1), @start, @step);
}

.transition-delay-loop(@n, @i:1, @start:500ms, @step:50) when (@i <= @n)
{
	.t-delay:nth-child(@{i})
	{
		.transition-delay(@start + ( @i * @step ));
	}

	.transition-delay-loop(@n, (@i + 1), @start, @step);
}

.animationdurationloop(@n, @i:1, @start:200ms, @step:75) when (@i <= @n)
{
	.a-duration:nth-child(@{i})
	{
		.animation-duration(@start + ( @i * @step ));
	}

	.animationdurationloop(@n, (@i + 1), @start, @step);
}

.animation-delay-loop(@n, @i:1, @start:200ms, @step:50) when (@i <= @n)
{
	.a-delay:nth-child(@{i})
	{
		.animation-delay(@start + ( @i * @step ));
	}

	.animation-delay-loop(@n, (@i + 1), @start, @step);
}

/* !PADDING (0 - 50) HELPERS */
.paddingloop(@n:50, @i:0) when (@i <= @n)
{
	.p-@{i}
	{
		padding: ~"@{i}%" !important;
	}

	.p-v-@{i}
	{
		padding-top: ~"@{i}%" !important;
		padding-bottom: ~"@{i}%" !important;
	}

	.p-h-@{i}
	{
		padding-left: ~"@{i}%" !important;
		padding-right: ~"@{i}%" !important;
	}

	.p-t-@{i}
	{
		padding-top: ~"@{i}%" !important;
	}

	.p-r-@{i}
	{
		padding-right: ~"@{i}%" !important;
	}

	.p-b-@{i}
	{
		padding-bottom: ~"@{i}%" !important;
	}

	.p-l-@{i}
	{
		padding-left: ~"@{i}%" !important;
	}

	.p-@{i}em
	{
		padding: ~"@{i}em" !important;
	}

	.p-t-@{i}em
	{
		padding-top: ~"@{i}em" !important;
	}

	.p-v-@{i}em
	{
		padding-top: ~"@{i}em" !important;
		padding-bottom: ~"@{i}em" !important;
	}

	.p-h-@{i}em
	{
		padding-left: ~"@{i}em" !important;
		padding-right: ~"@{i}em" !important;
	}

	.p-r-@{i}em
	{
		padding-right: ~"@{i}em" !important;
	}

	.p-b-@{i}em
	{
		padding-bottom: ~"@{i}em" !important;
	}

	.p-l-@{i}em
	{
		padding-left: ~"@{i}em" !important;
	}

	.p-@{i}px
	{
		padding: ~"@{i}px" !important;
	}

	.p-v-@{i}px
	{
		padding-top: ~"@{i}px" !important;
		padding-bottom: ~"@{i}px" !important;
	}

	.p-h-@{i}px
	{
		padding-left: ~"@{i}px" !important;
		padding-right: ~"@{i}px" !important;
	}

	.p-t-@{i}px
	{
		padding-top: ~"@{i}px" !important;
	}

	.p-r-@{i}px
	{
		padding-right: ~"@{i}px" !important;
	}

	.p-b-@{i}px
	{
		padding-bottom: ~"@{i}px" !important;
	}

	.p-l-@{i}px
	{
		padding-left: ~"@{i}px" !important;
	}

	.p-@{i}vh
	{
		padding: ~"@{i}vh" !important;
	}

	.p-v-@{i}vh
	{
		padding-top: ~"@{i}vh" !important;
		padding-bottom: ~"@{i}vh" !important;
	}

	.p-h-@{i}vh
	{
		padding-left: ~"@{i}vh" !important;
		padding-right: ~"@{i}vh" !important;
	}

	.p-t-@{i}vh
	{
		padding-top: ~"@{i}vh" !important;
	}

	.p-r-@{i}vh
	{
		padding-right: ~"@{i}vh" !important;
	}

	.p-b-@{i}vh
	{
		padding-bottom: ~"@{i}vh" !important;
	}

	.p-l-@{i}vh
	{
		padding-left: ~"@{i}vh" !important;
	}

	.p-@{i}vw
	{
		padding: ~"@{i}vw" !important;
	}

	.p-v-@{i}vw
	{
		padding-top: ~"@{i}vw" !important;
		padding-bottom: ~"@{i}vw" !important;
	}

	.p-h-@{i}vw
	{
		padding-left: ~"@{i}vw" !important;
		padding-right: ~"@{i}vw" !important;
	}

	.p-t-@{i}vw
	{
		padding-top: ~"@{i}vw" !important;
	}

	.p-r-@{i}vw
	{
		padding-right: ~"@{i}vw" !important;
	}

	.p-b-@{i}vw
	{
		padding-bottom: ~"@{i}vw" !important;
	}

	.p-l-@{i}vw
	{
		padding-left: ~"@{i}vw" !important;
	}

	.paddingloop(@n, (@i + 1));
}

.padding-mobile()
{

	.tablet(
	{
		.m-md-0
		{
			margin: 0 !important;
		}
		.p-md-0
		{
			padding: 0 !important;
		}
	});

    .mobile(
	{
		.m-xs-0
		{
			margin: 0 !important;
		}
		.p-xs-0
		{
			padding: 0 !important;
		}
	});

}

/* !MARGIN (0 - 50) HELPERS */
.marginloop(@n:50, @i:0) when (@i <= @n)
{
	.m-@{i}
	{
		margin: ~"@{i}%" !important;
	}

	.m-v-@{i}
	{
		margin-top: ~"@{i}%" !important;
		margin-bottom: ~"@{i}%" !important;
	}

	.m-h-@{i}
	{
		margin-left: ~"@{i}%" !important;
		margin-right: ~"@{i}%" !important;
	}

	.m-t-@{i}
	{
		margin-top: ~"@{i}%" !important;
	}

	.m-r-@{i}
	{
		margin-right: ~"@{i}%" !important;
	}

	.m-b-@{i}
	{
		margin-bottom: ~"@{i}%" !important;
	}

	.m-l-@{i}
	{
		margin-left: ~"@{i}%" !important;
	}

	.m-@{i}em
	{
		margin: ~"@{i}em" !important;
	}

	.m-v-@{i}em
	{
		margin-top: ~"@{i}em" !important;
		margin-bottom: ~"@{i}em" !important;
	}

	.m-h-@{i}em
	{
		margin-left: ~"@{i}em" !important;
		margin-right: ~"@{i}em" !important;
	}


	.m-t-@{i}em
	{
		margin-top: ~"@{i}em" !important;
	}

	.m-r-@{i}em
	{
		margin-right: ~"@{i}em" !important;
	}

	.m-b-@{i}em
	{
		margin-bottom: ~"@{i}em" !important;
	}

	.m-l-@{i}em
	{
		margin-left: ~"@{i}em" !important;
	}

	.m-@{i}px
	{
		margin: ~"@{i}px" !important;
	}

	.m-v-@{i}px
	{
		margin-top: ~"@{i}px" !important;
		margin-bottom: ~"@{i}px" !important;
	}

	.m-h-@{i}px
	{
		margin-left: ~"@{i}px" !important;
		margin-right: ~"@{i}px" !important;
	}

	.m-h--@{i}px
	{
		margin-left: ~"-@{i}px" !important;
		margin-right: ~"-@{i}px" !important;
	}

	.m-t-@{i}px
	{
		margin-top: ~"@{i}px" !important;
	}

	.m-t--@{i}px
	{
		margin-top: ~"-@{i}px" !important;
	}

	.m-t--@{i}vh
	{
		margin-top: ~"-@{i}vhx" !important;
	}

	.m-r-@{i}px
	{
		margin-right: ~"@{i}px" !important;
	}

	.m-b-@{i}px
	{
		margin-bottom: ~"@{i}px" !important;
	}

	.m-l-@{i}px
	{
		margin-left: ~"@{i}px" !important;
	}

	.marginloop(@n, (@i + 1));
}

/* !BORDERS */
.borders()
{
	.br-a {
	  border: 1px solid #eeeeee !important;

	  &.br-alt:last-of-type
	  {
	  	border: none !important;
	  }
	}
	.br-l {
	  border-left: 1px solid #eeeeee !important;

	  &.br-alt:last-of-type
	  {
	  	border-left: none !important;
	  }
	}
	.br-r {
	  border-right: 1px solid #eeeeee !important;

	  &.br-alt:last-of-type
	  {
	  	border-right: none !important;
	  }
	}
	.br-t {
	  border-top: 1px solid #eeeeee !important;

	  &.br-alt:last-of-type
	  {
	  	border-top: none !important;
	  }
	}
	.br-b {
	  border-bottom: 1px solid #eeeeee !important;

	  &.br-alt:last-of-type
	  {
	  	border-bottom: none !important;
	  }
	}

	/* Border Style */
	.br-dashed {
	  border-style: dashed !important;
	}
	.br-dotted {
	  border-style: dotted !important;
	}
	.br-solid {
	  border-style: solid !important;
	}

	/* Border Radius */
	.br0 {
	  border-radius: 0px !important;
	}
	.br1 {
	  border-radius: 1px !important;
	}
	.br2 {
	  border-radius: 2px !important;
	}
	.br3 {
	  border-radius: 3px !important;
	}
	.br4 {
	  border-radius: 4px !important;
	}
	.br6 {
	  border-radius: 6px !important;
	}
	.br8 {
	  border-radius: 8px !important;
	}
	.br12 {
	  border-radius: 12px !important;
	}
	.br24 {
	  border-radius: 24px !important;
	}
	.br64 {
	  border-radius: 64px !important;
	}

	/* Border Width */
	.bw1 {
	  border-width: 1px !important;
	}
	.bw2 {
	  border-width: 2px !important;
	}
	.bw3 {
	  border-width: 3px !important;
	}
	.bw4 {
	  border-width: 4px !important;
	}
	.bw5 {
	  border-width: 5px !important;
	}
	.bw8 {
	  border-width: 8px !important;
	}
	.bw10 {
	  border-width: 10px !important;
	}
	.bw15 {
	  border-width: 15px !important;
	}

	/* Border Colors Generate contextual modifier classes for colorizing the alert. */
	.br-white {
	  border-color: #ffffff !important;
	}
	.br-lighter {
	  border-color: #eeeeee !important;
	}
	.br-light {
	  border-color: #e7e7e7 !important;
	}
	.br-grey {
	  border-color: #d9d9d9 !important;
	}
	.br-greyer {
	  border-color: #cccccc !important;
	}
	.br-dark {
	  border-color: #3b3f4f !important;
	}
	.br-dark-light {
	  border-color: fade(black, 10) !important;
	}
	.br-dark-gray {
	  border-color: fade(black, 20) !important;
	}
	.br-dark-lighter {
	  border-color: fade(black, 30) !important;
	}
	.br-light-dark {
	  border-color: fade(white, 10) !important;
	}
	.br-light-gray {
	  border-color: fade(white, 20) !important;
	}
	.br-light-lighter {
	  border-color: fade(white, 30) !important;
	}
	.br-primary {
	  border-color: #3498db !important;
	}
	.br-primary-light {
	  border-color: #5faee3 !important;
	}
	.br-info {
	  border-color: #3bafda !important;
	}
	.br-info-light {
	  border-color: #66c1e2 !important;
	}
	.br-success {
	  border-color: #70ca63 !important;
	}
	.br-success-light {
	  border-color: #93d789 !important;
	}
	.br-warning {
	  border-color: #f6bb42 !important;
	}
	.br-warning-light {
	  border-color: #f8cd73 !important;
	}
	.br-danger {
	  border-color: #df5640 !important;
	}
	.br-danger-light {
	  border-color: #e67d6c !important;
	}
	.br-alert {
	  border-color: #967adc !important;
	}
	.br-alert-light {
	  border-color: #b6a2e7 !important;
	}
	.br-system {
	  border-color: #37bc9b !important;
	}
	.br-system-light {
	  border-color: #58ceb1 !important;
	}
	.br-tp-top {
	  border-top-color: rgba(0, 0, 0, 0.1);
	}
	.br-tp-right {
	  border-right-color: rgba(0, 0, 0, 0.1);
	}
	.br-tp-left {
	  border-left-color: rgba(0, 0, 0, 0.1);
	}
	/* Border Disables */
	.br-l-n {
	  border-left: none !important;
	}
	.br-r-n {
	  border-right: none !important;
	}
	.br-t-n {
	  border-top: none !important;
	}
	.br-b-n {
	  border-bottom: none !important;
	}
	.br-n {
	  border: none !important;
	}
	.br-v-n {
	  border-top: none !important;
	  border-bottom: none !important;
	}
	.br-h-n {
	  border-left: none !important;
	  border-right: none !important;
	}
}

/* !COLOR BLACK/WHITE/GRAY BACKGROUNDS/COLORS HELPERS */

@backgrounds: 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100;

.backgrounds(@i: length(@backgrounds)) when (@i > 0)
{
	@background: extract(@backgrounds, @i);

	.bg-black-@{background}, .bg-black-@{background}-hover:hover, .bg-black-@{background}-hover:active, .bg-black-@{background}-active.active, .bg-black-@{background}-focus:focus
	{
		background: fade(black, @background) !important;
	}

	.bg-gray-@{background}, .bg-gray-@{background}-hover:hover, .bg-gray-@{background}-hover:active, .bg-gray-@{background}-active.active, .bg-gray-@{background}-focus:focus
	{
		background: fade(#202020, @background) !important;
	}

	.bg-white-@{background}, .bg-white-@{background}-hover:hover, .bg-white-@{background}-hover:active, .bg-white-@{background}-active.active, .bg-white-@{background}-focus:focus
	{
		background: fade(white, @background) !important;
	}

	.text-black-@{background}, .text-black-@{background}-hover:hover, .text-black-@{background}-hover:active, .text-black-@{background}-active.active, .text-black-@{background}-focus:focus
	{
		color: fade(black, @background) !important;

		* {
			color: fade(black, @background) !important;
		}
	}

	.text-gray-@{background}, .text-gray-@{background}-hover:hover, .text-gray-@{background}-hover:active, .text-gray-@{background}-active.active, .text-gray-@{background}-focus:focus
	{
		color: fade(#202020, @background) !important;

		* {
			color: fade(#202020, @background);
		}
	}

	.text-white-@{background}, .text-white-@{background}-hover:hover, .text-white-@{background}-hover:active, .text-white-@{background}-active.active, .text-white-@{background}-focus:focus
	{
		color: fade(white, @background) !important;

		* {
			color: fade(white, @background);
		}
	}

	.br-black-@{background}
	{
		border-color: fade(black, @background) !important;
	}

	.br-gray-@{background}
	{
		border-color: fade(#202020, @background) !important;
	}

	.br-white-@{background}
	{
		border-color: fade(white, @background) !important;
	}

	.backgrounds(@i - 1);
}

.grid-flex-horizontal()
{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: row;
	-moz-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-flex-flow: row wrap;
	-moz-flex-flow: row wrap;
	-ms-flex-flow: row wrap;
	flex-flow: row wrap;
	-webkit-box-orient: horizontal;
	-moz-box-orient: horizontal;
	-o-box-orient: horizontal;
    justify-content: center;
}

.grid-flex-vertical()
{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	justify-content: center;
}

.gridflex()
{
	@griditems: 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 15, 16.66, 20, 25, 30, 33.33, 40, 50, 60, 66.66, 70, 75, 80, 90, 95, 100;

	.grid-flex
	{
		.grid-flex-horizontal();

		.grid-item
		{
			-ms-flex-positive: 1;
			-webkit-box-flex: 1;
			-moz-box-flex: 1;
			-o-box-flex: 1;
			box-flex: 1;
			-webkit-flex: 1 0 10%;
			-ms-flex: 1 0 10%;
			flex: 1 0 10%;
			flex-grow: 1;
			.border-box() !important;
			transform: translateZ(0);
		}

		.griditems(@i: length(@griditems)) when (@i > 0)
		{
			.griditems(@i - 1);

			@griditem: extract(@griditems, @i);

			@classname: floor(@griditem);

			&.grid-flex-@{classname}
			{
				.grid-item
				{
					min-width: percentage(@griditem  * 0.01);
				}
			}

			.grid-item-@{classname}
			{
				min-width: percentage(@griditem  * 0.01) !important;
                max-width: percentage(@griditem  * 0.01) !important;
			}

			.tablet(
			{

				&.grid-flex-md-@{classname}
				{
					.grid-item
					{
						min-width: percentage(@griditem  * 0.01);
					}
				}

				.grid-item-md-@{classname}
				{
					min-width: percentage(@griditem  * 0.01) !important;
                    max-width: percentage(@griditem  * 0.01) !important;
				}

			});

			.mobile(
			{

				&.grid-flex-sm-@{classname}
				{
					.grid-item
					{
						min-width: percentage(@griditem  * 0.01);
					}
				}

				.grid-item-sm-@{classname}
				{
					min-width: percentage(@griditem  * 0.01) !important;
                    max-width: percentage(@griditem  * 0.01) !important;
				}

			});
		}

		.griditems();

		.tablet(
		{
			&.grid-md-block
			{
				display: block !important;

				.grid-item
				{
					display: block !important;
					min-width: 100% !important;
				}
			}

            &.grid-flex-md-scroll
            {
                display: block !important;
                white-space: nowrap;
                overflow-x: scroll;
                padding-top: 7px;

                .grid-item
				{
					display: inline-block !important;
					min-width: 100% !important;
				}
            }

			.grid-item-md-responsive
			{
				min-width: 100% !important;
			}
		});

		.mobile(
		{
			&.grid-xs-block
			{
				display: block !important;

				.grid-item
				{
					display: block !important;
					min-width: 100% !important;
				}
			}

            &.grid-flex-sm-scroll
            {
                display: block !important;
                white-space: nowrap;
                overflow-x: scroll;
                padding-top: 7px;

                .grid-item
				{
					display: inline-block !important;
					min-width: 100% !important;
				}
            }

			.grid-item-responsive
			{
				min-width: 100% !important;
			}
		});
	}
}

/* !ZINDEX (0 - 30) HELPERS */
.zindexloop(@n:30, @i:0) when (@i <= @n)
{
	.z@{i}
	{
		z-index: ~"@{i}" !important;
	}

	.zindexloop(@n, (@i + 1));
}

.max-z {
	z-index: 2147483647 !important;
}

/* !OPACITY (0 - 1) HELPERS */
.opacityloop(@n:1, @i:0) when (@i <= @n)
{
	@classname: @i * 100;
	@unit: round(@i, 1);

	.o@{classname}
	{
		opacity: ~"@{unit}" !important;
	}

	.opacityloop(@n, (@i + 0.1));
}

/* !VIEWPORT - WIDTH, HEIGHT, MIN HEIGHT, MAX HEIGHT (0 - 100) HELPERS */
.viewportloop(@n:100, @i:0) when (@i <= @n)
{
	.w@{i}
	{
		width: ~"@{i}%";
	}

	.h@{i}
	{
		height: ~"@{i}%";
	}

	.vh-@{i}
	{
		min-height: ~"@{i}vh";
	}

	.wvh-@{i}
	{
		min-width: ~"@{i}vh";
	}

	.fixed.vw-@{i}, .absolute.vw-@{i}, .v-w-@{i}
	{
		width: ~"@{i}vw";
	}

	.fixed.hvw-@{i}, .absolute.hvw-@{i}, .h-vw-@{i}
	{
		height: ~"@{i}vw";
	}

	.fixed.vh-@{i}, .absolute.vh-@{i}, .v-h-@{i}
	{
		height: ~"@{i}vh";
	}

	.fixed.wvh-@{i}, .absolute.wvh-@{i}, .w-vh-@{i}
	{
		width: ~"@{i}vh";
	}

	.vhm-@{i}
	{
		max-height: ~"@{i}vh";
	}

	.vw-@{i}
	{
		min-width: ~"@{i}vw";
	}

	.vwm-@{i}
	{
		max-width: ~"@{i}vw";
	}

	.hvw-@{i}
	{
		min-height: ~"@{i}vw";
	}

	.left-@{i}
	{
		left: ~"@{i}%";
	}

	.top-@{i}
	{
		top: ~"@{i}%";
	}

	.right-@{i}
	{
		right: ~"@{i}%";
	}

	.bottom-@{i}
	{
		bottom: ~"@{i}%";
	}

	.left-vw-@{i}
	{
		left: ~"@{i}vw";
	}

	.top-vh-@{i}
	{
		top: ~"@{i}vh";
	}

	.right-vw-@{i}
	{
		right: ~"@{i}vw";
	}

	.bottom-vh-@{i}
	{
		bottom: ~"@{i}vh";
	}

	.viewportloop(@n, (@i + 5));
}

/* !DIMENSIONS PX HELPERS */

@dimensions: 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 16, 20, 24, 25, 30, 35, 40, 45, 50, 60, 70, 80, 90, 100, 125, 150, 160, 180, 200, 250, 280, 300, 320, 360, 400, 480, 500, 540, 600, 640, 768, 700, 800, 960, 1000, 1024;

.dimensions(@i: length(@dimensions)) when (@i > 0)
{
	.dimensions(@i - 1);

	@dimension: extract(@dimensions, @i);

	.min-h-@{dimension}px
	{
		min-height: @dimension * 1px !important;
	}

	.min-w-@{dimension}px
	{
		min-width: @dimension * 1px !important;
	}

	.max-h-@{dimension}px
	{
		max-height: @dimension * 1px !important;
	}

	.max-w-@{dimension}px
	{
		max-width: @dimension * 1px !important;
	}

	.w-@{dimension}px
	{
		width: @dimension * 1px !important;
	}

	.h-@{dimension}px
	{
		height: @dimension * 1px !important;
	}
}

/* !POSITION ALIGN HELPERS */

.align()
{
	.aligncenter {
		.aligncenter();

        &.fixed {
            position: fixed !important;
        }
	}

	.alignrightcenter {
		.alignrightcenter();

        &.fixed {
            position: fixed !important;
        }
	}

	.alignstaticcenter {
		.alignstaticcenter();

        &.fixed {
            position: fixed !important;
        }
	}

	.alignleftcenter {
		.alignleftcenter();

        &.fixed {
            position: fixed !important;
        }
	}

	.aligncenterstatic {
		.aligncenterstatic();

        &.fixed {
            position: fixed !important;
        }
	}

	.aligntopright {
		.aligntopright();

        &.fixed {
            position: fixed !important;
        }
	}
}

/* !GRADIENT BACKGROUNDS - http://uigradients.com/ */

.backgroundgradients()
{
	.bluesky-gradient {
		background: #E0EAFC;
	    background: -webkit-linear-gradient(to left, #E0EAFC , #CFDEF3 );
	    background: linear-gradient(to left, #E0EAFC , #CFDEF3 );
	}

	.tealsky-gradient {
		background: #4CA1AF;
	    background: -webkit-linear-gradient(to left, #4CA1AF , #C4E0E5 );
	    background: linear-gradient(to left, #4CA1AF , #C4E0E5 );
	}

	.deepspace-gradient {
		background: #000000;
	    background: -webkit-linear-gradient(to left, #000000 , #434343 );
	    background: linear-gradient(to left, #000000 , #434343 );
	}

	.darksky-gradient {
		background: #4B79A1;
	    background: -webkit-linear-gradient(to left, #4B79A1 , #283E51 );
	    background: linear-gradient(to left, #4B79A1 , #283E51 );
	}

	.palewood-gradient {
		background: #eacda3;
	    background: -webkit-linear-gradient(to left, #eacda3 , #d6ae7b );
	    background: linear-gradient(to left, #eacda3 , #d6ae7b );
	}

	.lizard-gradient {
		background: #304352;
	    background: -webkit-linear-gradient(to left, #304352 , #d7d2cc );
	    background: linear-gradient(to left, #304352 , #d7d2cc );
	}

	.portrait-gradient {
		background: #8e9eab;
	    background: -webkit-linear-gradient(to left, #8e9eab , #eef2f3 );
	    background: linear-gradient(to left, #8e9eab , #eef2f3 );
	}

	.hersheys-gradient {
		background: #1e130c;
	    background: -webkit-linear-gradient(to left, #1e130c , #9a8478 );
	    background: linear-gradient(to left, #1e130c , #9a8478 );
	}

	.clouds-gradient {
		background: #ECE9E6;
	    background: -webkit-linear-gradient(to left, #ECE9E6 , #FFFFFF );
	    background: linear-gradient(to left, #ECE9E6 , #FFFFFF );
	}

	.midnight-gradient {
		background: #232526;
	    background: -webkit-linear-gradient(to left, #232526 , #414345 );
	    background: linear-gradient(to left, #232526 , #414345 );
	}

	.frozen-gradient {
		background: #403B4A;
	    background: -webkit-linear-gradient(to left, #403B4A , #E7E9BB );
	    background: linear-gradient(to left, #403B4A , #E7E9BB );
	}

	.forest-gradient {
        background: #5a3f37;
        background: -webkit-linear-gradient(to right, #5a3f37, #2c7744);
        background: linear-gradient(to right, #5a3f37, #2c7744);
	}

	.shore-gradient {
		background: #70e1f5;
		background: -webkit-linear-gradient(to left, #70e1f5 , #ffd194 );
		background: linear-gradient(to left, #70e1f5 , #ffd194 );
	}

	.titanium-gradient {
		background: #70e1f5;
		background: -webkit-linear-gradient(to left, #70e1f5 , #859398 );
		background: linear-gradient(to left, #70e1f5 , #859398 );
	}

	.winter-gradient {
		background: #E6DADA;
		background: -webkit-linear-gradient(to left, #E6DADA , #274046);
		background: linear-gradient(to left, #E6DADA , #274046);

	}
}

/* !GENERIC HELPERS */
.helpers()
{
	* {
		.border-box();
	}
	a
	{
		text-decoration: none !important;
        outline: 0 !important;
	}
	.no-flick {
		-webkit-transform: translate3d(0, 0, 0);
		-webkit-transform-style: preserve-3d;
	}
    .p-top {
        padding-top: 100vh;
    }
	.contentbox {
		box-sizing: content-box;
	}
	.paddingbox {
		box-sizing: padding-box;
	}
	.appearance {
		.appearance();
	}
	.nowrap {
		.nowrap();
	}
	.content-box {
		box-sizing: content-box !important;
	}
	.relative {
		position: relative;
	}
	.static {
		position: static;
	}
	.absolute {
		position: absolute;
	}
	.fixed {
		position: fixed;
		width: inherit;
	}
	.block
	{
		display: block;
	}
    .text-columns
    {
        @media (min-width: 1200px)
        {
            &.c-4 {
                .column-count(4);
                .column-gap(3em);
            }

            &.c-3 {
                .column-count(3);
                .column-gap(3em);
            }

            &.c-2 {
                .column-count(2);
                .column-gap(3em);
            }
        }

        @media (min-width: 641px) and (max-width: 1200px)
        {
            &.c-4 {
                .column-count(3);
                .column-gap(2em);
            }

            &.c-3 {
                .column-count(2);
                .column-gap(2em);
            }
        }
    }
	.flex
	{
		display: flex;

		& > * {
			flex: 1;
		}
	}
    .md-block {
        .tablet({
            display: block !important;
            width: 100% !important;
        });
    }
    .sm-block {
        .mobile({
            display: block !important;
            width: 100% !important;
        });
    }
	.center-block {
		display: block;
		margin-left: auto !important;
		margin-right: auto !important;
	}
	.center-margin {
		margin-left: auto !important;
		margin-right: auto !important;
	}
	.inline-block {
		display: inline-block;
	}
	.absolute-100 {
		.absolute-100() !important;
	}
	.backface {
		.backface();
	}
	.bgcovercenter {
		.bgcovercenter();
	}
	.bgcovertop {
		.bgcovertop();
	}
	.bgcoverheight {
		.bgcoverheight();
	}
	.bgcoverwidth {
		.bgcoverwidth();
	}
	.bgcenter {
		.bgcenter();
	}
	.bgcontain {
		.bgcontain();
	}
	[data-bgload-src]
	{
		opacity: 0;
        visibility: hidden;

		&.bgloaded {
			opacity: 1;
            visibility: visible;
			.transition(@duration:1200ms, @timing:cubic-bezier(0.250, 0.250, 0.000, 0.985), @delay:300ms);
			.transition-property(@arguments: ~'transform, opacity, color, background-color, border-color, filter');
		}
	}
    [data-hover-show-parent]
    {
        &:hover, &:active, &.active
        {
            [data-hover-show]
            {
                display: block !important;
            }
        }
    }
	.button {
		.button();
	}
	.fixed-100 {
		.fixed-100() !important;
	}
	.noalign {
		.noalign();
	}
	.noselect {
		.noselect();
	}
	.notransition
	{
		&, * {
			.notransition();
		}
	}
	.nowrap {
		.nowrap();
	}
	.verticalalign {
		.verticalalign();
	}
	.top {
		top: 0 !important;
	}
	.right {
		right: 0 !important;
	}
	.bottom {
		bottom: 0 !important;
	}
	.left {
		left: 0 !important;
	}
	.height{
		height: 100% !important;
	}
	.width{
		width: 100% !important;
	}
	.circle{
		border-radius: 50%;
	}
	.resize {
		resize: none;
		overflow: auto;
	}
	.transition
	{
		.transition() !important;

		* {
			.transition();
		}
	}
	.transform
	{
		.transition(600ms, cubic-bezier(0.250, 0.250, 0.000, 0.985), 100ms);
	}
	.flex-center {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	.table {
		display: table;
	}
	.table-layout {
		table-layout: fixed;
	}
	.table-cell {
		display: table-cell;
		vertical-align: middle;
	}
	.table-cell-full {
		width: 99%;
	}
	.nobackground {
		background: none !important;
		background-color: transparent !important;
	}
	.hover-hide:hover, .hover-hide:active
	{
		opacity: 0;
	}
	.text-normal {
		text-transform: none !important;
	}
	.text-left {
		text-align: left !important;
	}
	.text-right {
		text-align: right !important;
	}
	.text-justify {
		text-align: justify !important;
	}
	.text-center {
		text-align: center !important;
	}
	.text-small-caps {
		font-variant: small-caps !important;
	}
	.text-shadow
	{
		text-shadow: 0 2px 1px fade(black, 40);

		&.ts-sm
		{
			text-shadow: 0 1px 1px fade(black, 10);
		}

		&.ts-md
		{
			text-shadow: 0 1px 1px fade(black, 30);
		}
	}
	.no-text-shadow {
		text-shadow: none !important;
	}
	.text-uppercase
	{
		text-transform: uppercase;
	}
	.text-lowercase
	{
		text-transform: lowercase;
	}
	.text-capitalize
	{
		text-transform: capitalize;
	}
	ol, ul
	{
	    &[type="i"]
		{
			li
			{
				list-style-type: lower-roman;
			}
		}

		&[type="1"]
		{
			li
			{
				list-style-type: decimal;
			}
		}

		&[type="a"]
		{
			li
			{
				list-style-type: lower-alpha;
			}
		}
	}
	.onoff
	{
		.on, .off, .on *, .off * {
			.notransition();
		}

		.off
		{
			visibility: hidden;
		}

		&.active
		{
			.on
			{
				visibility: hidden;
			}

			.off
			{
				visibility: visible;

				&.aligncenter
				{
					.animation(spincenter 1s linear 1);
				}
			}

			.rotate-180
			{
				.transform(-50%, -50%, 180deg);
				.transform-origin(50%, 50%);
			}
		}
	}
	.desaturate-hover
	{
		.active
		({
			.filter(@blur:0, @grayscale:0, @sepia:0, @saturate:0, @hue-rotate:0, @invert:0, @opacity:100%, @brightness:100%, @contrast:100%);
		});
	}
	.browser-mockup
	{
		border-top: 2em solid rgba(230, 230, 230, 0.5);
		box-shadow: 0 0.1em 1em 0 rgba(0, 0, 0, 0.4);
		position: relative;
		border-radius: 3px 3px 0 0;

		&:before
		{
			display: block;
			position: absolute;
			content: '';
			top: -1.25em;
			left: 1em;
			width: 0.5em;
			height: 0.5em;
			border-radius: 50%;
			background-color: #f44;
			box-shadow: 0 0 0 2px #f44, 1.5em 0 0 2px #9b3, 3em 0 0 2px #fb5;
		}
	}
	.portrait {
		padding-bottom: 135% !important;
	}
	.square {
		padding-bottom: 100% !important;
	}
	.mapMarker {
		position: relative;
		display: block;
		width: 16px;
		height: 16px;
		border-radius: 8px;
		background-color: fade(black, 50);

		&:after
		{
			content: '';
			width: 2px;
			height: 2px;
			background-color: fade(white, 50);
			.aligncenter();
		}
	}
	.active-hidden.active
	{
		display: none !important;
		visibility: hidden !important;
	}
	.letterbox
	{
		padding-bottom: 56.25% !important;

		&.sm
		{
			padding-bottom: 45% !important;
		}

		&.xs
		{
			padding-bottom: 35% !important;
		}

		&.lg
		{
			padding-bottom: 80% !important;
		}

		.mobile(
		{
			&, &.sm, &.xs
			{
				padding-bottom: 56.25% !important;
			}
		});
	}
	img.block {
		max-width: 100%;
		height: auto;
		max-height: 100%;
	}
	.plain
	{
		border: none;
		outline: none;
        background-color: transparent;
		.appearance();

	}
	.hidden
	{
		display: none !important;
	}
	.invisible
	{
		visibility: hidden !important;
	}
	.nofloat {
		float: none !important;
	}
	.va-t {
		vertical-align: top !important;
	}
	.va-m {
		vertical-align: middle !important;
	}
	.va-b {
		vertical-align: bottom !important;
	}
	.va-s {
		vertical-align: super !important;
	}
	.single-line {
		white-space: nowrap;
	}
	.pre-wrap {
		white-space: pre-wrap;
	}
	.pre-line {
		white-space: pre-line;
	}
	.empty
	{
		&:empty, &[href=""]
		{
			display: none;
			visibility: hidden;
		}
	}
	[data-placeholder]
	{
		&:empty:before
		{
			content: attr(data-placeholder);
			opacity: 0.9;
		}
	}
	.no-overflow
	{
		overflow: hidden !important;
	}
	.overflow
	{
		overflow: scroll !important;
	}
	.translate-50-up
	{
		.translateY(-50%);
	}
	.translate-50-down
	{
		.translateY(50%);
	}
	.translate-50-left
	{
		.translateX(-50%);
	}
	.translate-50-right
	{
		.translateX(50%);
	}
	.fancy
	{
		line-height: 1em;
		text-align: center;
		overflow: hidden;

		span
		{
			display: inline-block;
			position: relative;
			line-height: 1.5em;

			&:before, &:after
			{
				content: "";
				display: block;
				position: absolute;
				height: 1px;
				border-bottom: 1px solid fade(gray, 30);
				top: 45%;
				width: 50vw;
			}

			&:before
			{
				right: 100%;
				margin-right: 10px;
			}

			&:after
			{
				left: 100%;
				margin-left: 10px;
			}
		}

		&.fancy-left
		{
			text-align: left;

			span
			{
				&:before
				{
					display: none;
				}
			}
		}

		&.fancy-right
		{
			text-align: right;

			span
			{
				&:after
				{
					display: none;
				}
			}
		}

		&.fancy-xxs
		{
			span:before, span:after
			{
				width: 40px;
			}
		}

		&.fancy-xs
		{
			span:before, span:after
			{
				width: 60px;
			}
		}

		&.fancy-sm
		{
			span:before, span:after
			{
				width: 100px;
			}
		}

		&.fancy-md
		{
			span:before, span:after
			{
				width: 150px;
			}
		}
	}
	[data-after-content]:after
	{
		content: attr(data-after-content);
		display: inline-block !important;
		padding-left: 3px;
		opacity: 0.75;
	}
	[data-before-content]:before
	{
		content: attr(data-before-content);
		display: inline-block !important;
		padding-right: 3px;
		opacity: 0.75;
	}
	[data-after-content], [data-before-content]
	{
		&[data-content-mode="super"]
		{
			&:before, &:after
			{
				vertical-align: super;
				font-size: 0.75em;
				font-weight: 600;
			}
		}

		&[data-content-mode="sub"]
		{
			&:before, &:after
			{
				vertical-align: sub;
				font-size: 0.75em;
				font-weight: 600;
			}
		}
	}
	[data-content-positon="center"]
	{
		position: relative;

		&[data-after-content]:after, &[data-before-content]:before
		{
			display: block;
			position: absolute;
			text-align: center;
			width: 100%;
			left: 0;
			.alignstaticcenter();
		}
	}
	.nopointer {
		pointer-events: none;
	}
	.pointer-auto {
		pointer-events: auto;
	}
	iframe {
		width: 100%;
		height: 100%;
		min-height: 100%;
		border: 0;
	}
	.letterpress-dark
	{
		text-shadow: 0px 1px 1px #4d4d4d;
		color: #222;
	}
	.embossed
	{
		text-shadow: -1px -1px 1px #fff, 1px 1px 1px #000;
		color: #909090;
	}
	.boxshadow
	{
		box-shadow: 0 4px 6px rgba(0, 0, 0, 0.15) !important;

		&.bs-xl
		{
			box-shadow: 0 27px 24px 0 rgba(0, 0, 0, 0.2), 0 40px 77px 0 rgba(0, 0, 0, 0.22) !important;
		}

		&.bs-large
		{
			box-shadow: 0 15px 10px 0 rgba(0, 0, 0, 0.2), 0 30px 57px 0 rgba(0, 0, 0, 0.22) !important;
		}

		&.bs-spread
		{
			box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.1) !important;
		}

		&.bs-light
		{
			box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1) !important;
		}

		&.bs-xs
		{
			box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15) !important;
		}
	}
	.noboxshadow {
		box-shadow: none !important;
	}
	.pointer {
		cursor: pointer;
	}
	.cursor-default {
		cursor: default;
	}
	.cursor-help {
		cursor: help;
	}
	.break-all {
		word-break: break-all;
	}
	.break-word {
		word-break: break-word;
	}
	.code
	{
		font-family:monaco, "Lucida Console", "Courier New", courier, monospace;
		font-size:10px;
		white-space: pre-wrap;

		&, *
		{
			font-weight: 100;
			-webkit-font-smoothing: none;
			font-smoothing: none;
			line-height: 1.25em;
		}
	}
	.no-after
	{
		&:after
		{
			display: none !important;
			visibility: hidden !important;
		}
	}
	.hover-show
	{
		.hover-child
		{
			display: none;
		}

		.active({
			.hover-child
			{
				display: inherit;
				.animation(fadeIn 1s ease-in-out);
			}
		});
	}
	.hover-hide
	{
		.active({
			visibility: hidden;
			opacity: 0;
		});
	}
	[data-toggle-height]
	{
		&:not(:empty)
		{
			position: relative;
			overflow: hidden;
			padding-bottom: 55px;

			&:after
			{
				content: 'VIEW MORE';
				color: fade(black, 30);
				position: absolute;
				bottom: 0;
				width: 100%;
				padding: 20px 0;
				font-size: 10px;
				display: block;
				cursor: pointer;
				.linear-gradient-top(fade(white, 0), 0, white, 30%);
			}

			&.active
			{
				&:after
				{
					content: 'VIEW LESS';
				}
			}

			&.dt-gray:after
			{
				.linear-gradient-top(fade(#fbfbfb, 0), 0, #fbfbfb, 30%);
			}
		}
	}
	img
	{
		&[src=""]
		{
			display: none;
		}
	}
	.filter-white {
		.filter(@blur:0, @grayscale:0, @sepia:0, @saturate:0, @hue-rotate:0, @invert:0, @opacity:100%, @brightness:10000%, @contrast:100%);
	}
	.filter-black {
		.filter(@blur:0, @grayscale:0, @sepia:0, @saturate:0, @hue-rotate:0, @invert:0, @opacity:100%, @brightness:0%, @contrast:100%);
	}
	.filter-desaturate {
		.filter(@blur:0, @grayscale:0, @sepia:0, @saturate:0, @hue-rotate:0, @invert:0, @opacity:100%, @brightness:100%, @contrast:100%);
	}
	.opacity {
		opacity: 0 !important;
	}
	.br-lh
	{
		br {
			line-height: 2em;
		}
	}
	.map > div {
		.animation(fadeIn 1s ease-in-out);
	}
	.gr-after
	{
		position: relative;
		padding-bottom: 20px;

		&:after
		{
			content: '';
			height: 20px;
			width: 100%;
			position: absolute;
			left: 0;
			bottom: 0;
		}

		&.gr-white
		{
			&:after
			{
				.linear-gradient-top(fade(white, 0), 0, white, 80%);
			}
		}
	}
	.noafter
	{
		&:after {
			display: none !important
		}
	}
	.nobefore
	{
		&:before {
			display: none !important;
		}
	}
    [data-read-more]
    {
        &:before {
            content: attr(data-read-more);
        }

        &.active
        {
            &:before {
                content: attr(data-read-less);
            }
        }
    }
	.animated
	{
		.animation-duration(0.7s);

		&.animated-short
		{
			.animation-duration(0.5s);
		}

		&.animated-shorter
		{
			.animation-duration(0.4s);
		}

		&.animated-long
		{
			.animation-duration(1s);
		}

		&.animated-longer
		{
			.animation-duration(1.4s);
		}
	}
	.tablet({
		.block-tablet
		{
			display: block !important;
			width: 100% !important;
			min-width: 100% !important;
		}
	});
	.mobile({
		.block-mobile
		{
			display: block !important;
			width: 100% !important;
			min-width: 100% !important;
		}
	});
}