<!doctype html>
<html lang="{{locale}}">
<head>
	<meta charset="utf-8"/>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<meta name="viewport" content="width = device-width, initial-scale = 1, user-scalable = no"/>

	<title>{{project_name}}{%if subtitle %} – {{subtitle}}{%endif%}</title>

	{% block meta %}
	<meta name="description" content=""/>
	<meta name="keywords" content=""/>
	<meta name="author" content="{{project_name}} – Developed by RANGER Studio LLC"/>
	<meta property="og:title" content="{{project_name}}"/>
	{% endblock %}

	<meta name="apple-mobile-web-app-title" content="Directus">
	<meta name="application-name" content="Directus">
	<meta name="msapplication-config" content="{{rootUrl}}assets/imgs/icons/browserconfig.xml?v=6.5.0">
	<meta name="theme-color" content="#333333">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="mobile-web-app-capable" content="yes">

	<meta property="og:site_name" content="{{project_name}}"/>
	<meta property="og:url" content="{{fullUrl}}"/>
	<meta property="og:type" content="website"/>
	<meta property="og:image" content="{{baseUrl}}/assets/logo-large.jpg"/>

	<!--[if lt IE 9]>
	<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

	<link rel="apple-touch-icon" sizes="180x180" href="{{rootUrl}}assets/imgs/icons/apple-touch-icon.png?v=6.5.0">
	<link rel="icon" type="image/png" href="{{rootUrl}}assets/imgs/icons/favicon-32x32.png?v=6.5.0" sizes="32x32">
	<link rel="icon" type="image/png" href="{{rootUrl}}assets/imgs/icons/favicon-16x16.png?v=6.5.0" sizes="16x16">
	<link rel="manifest" href="{{rootUrl}}assets/imgs/icons/manifest.json?v=6.5.0">
	<link rel="mask-icon" href="{{rootUrl}}assets/imgs/icons/safari-pinned-tab.svg?v=6.5.0" color="#3498db">
	<link rel="shortcut icon" href="{{rootUrl}}assets/imgs/icons/favicon.ico?v=6.5.0">

	<link rel="stylesheet" href="{{rootUrl}}assets/css/vendor/normalize.css">
	<link rel="stylesheet" href="{{rootUrl}}assets/css/main.css?v={{cacheBuster}}">

	<!-- Custom CSS -->
	<link rel="stylesheet" href="{{rootUrl}}storage/vendors/dropzone/dropzone.css">
	<link rel="stylesheet" href="{{rootUrl}}storage/vendors/noty/noty.css">
	<link rel="stylesheet" href="{{rootUrl}}philleepedit/app/styles/app.css?v={{cacheBuster}}">

</head>
<body dir="{{dir}}" class="{% block bodyClass %}{% endblock %}"><!-- Options: help -->
{# @NOTE: not part of the new design #}
<div id="main">

	<!-- Readout: "Authenticating", "Loading Assets", "Loading Data", "Finishing up", etc -->
	<div id="page-blocker" class="loading{% if isAuthenticated %} blocking fading{% endif %}">
		<div class="loading-container">
			<!-- <div class="loading-bar step-1"></div> -->
		</div>
		<div class="readout">Loading Data</div>
	</div>

	{% if page == 'login' %}

	{# Login #}
	{% block login %}{% endblock %}

	{% else %}
	{# Modals & Overlays #}
	{% include 'modals/base.twig' %}

	{# Header & Sidebar #}
	{% include 'header.twig' %}
	{% include 'sidebar.twig' %}

	{# Page Content #}
	<div id="content" class="page"></div>
	{% endif %}
</div>

<!-- Javascript -->
{% if page == 'login' %}
{% block login_script %}{% endblock %}
{% else %}
<script>
	window.directusPath = '{{rootUrl}}';
	window.directusData = {{data | raw}};
</script>

<!-- Application source. -->
<script src="{{rootUrl}}app/directus.min.js?bust={{cacheBuster}}"></script>
{% endif %}

<!-- Custom Javascript -->
<script src="{{rootUrl}}storage/vendors/dropzone/dropzone.js"></script>
<script src="{{rootUrl}}philleepedit/app/scripts/app.js?v={{cacheBuster}}"></script>

</body>
</html>
